xsd/v1/t2s.ReturnStandingOrder.DRAFT7camt.070.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_camt.070
Usage Guideline: camt.070.001.01_T2S
Base Message: DRAFT7camt.070.001.01
Date of publication: 10 February 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_DffUcJDbEeOOJbFcWF2yBQ/444f04db-5ba1-48e0-b4f7-605c9f0eb745
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-04-01T12:31:41+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT7camt.070.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT7camt.070.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Othr" type="GenericAccountIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Amount2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Amount2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between an amount with or without the currency. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AmtWthtCcy" type="RestrictedFINImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AmountWithoutCurrency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5_T2S_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5_T2S_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8_T2S_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount24">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount24</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the currency in which the account is held. 

Usage: Currency should only be used in case one and the same account number covers several currencies
and the initiating party needs to identify which currency needs to be used for settlement on the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditDebitCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is a decrease.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DatePeriodDetails1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DatePeriodDetails1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of time defined by a start date and an end date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ToDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RtrStgOrdr" type="ReturnStandingOrderV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the choice between the listed and the proprietary error codes.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="Max4AlphaNumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the error resulting from the processing of a request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Error</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded or proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EventType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EventType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type of the event.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="EventTypeCode_T2S_2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type of the event, in a free text form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventTypeCode_T2S_2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EventTypeCode_T2S_2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="C1P0">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1PreparationOfSequence0</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 / preparation of sequence 0.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1P1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1PreparationOfSequence1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 / preparation of sequence 1.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1P2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1PreparationOfSequence2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 / preparation of sequence 2.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1P3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1PreparationOfSequence3</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 / preparation of sequence 3.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1P4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1PreparationOfSequence4</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 / preparation of sequence 4.&#13;
&#13;
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2P4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2PreparationOfSequence4</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 2 / preparation of sequence 4.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2PX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2PreparationOfSequenceX</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 2 / preparation of sequence X.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2PY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2PreparationOfSequenceY</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 2 / preparation of sequence Y.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2PZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2PreparationOfSequenceZ</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 2 / preparation of sequence Z.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CARL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionRebalancingLiquidity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Corporate Action Rebalancing Liquidity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OCSW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndOfDayLiquidityTransfersOptional</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End of day Liquidity Transfers - optional.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExecutionType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExecutionType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of execution to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Tm" type="ISOTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Time</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Execution type is executed based on an time trigger.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Evt" type="EventType1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Event</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Execution type is executed based on an event driven trigger.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which an agent is known and which is usually used to identify that agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8_T2S_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8_T2S_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINX2Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="QueryTypeIdentification_T2S_4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISOTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader6">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader6</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqTp" type="RequestType3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OriginalBusinessQuery1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the original requestor, to unambiguously identify the business query message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the original initiating party, to unambiguously identify the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QueryTypeIdentification_T2S_4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueryTypeIdentification_T2S_4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the query, i.e. whether the query requests that all matching items be returned or only new matching items since the last similar query be returned.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="LDEQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiquidityTransferOrderDetailQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the Liquidity Transfer Order Detail Query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LLIQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiquidityTransferOrderListQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the Liquidity Transfer Order List Query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LLSQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiquidityTransferOrderLinkSetQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the Liquidity Transfer Order Link Set Query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SLSQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SequencedLiquidityOrderForLinkSetQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the Sequenced Liquidity Order For Link Set Query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TALT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalAmountOfPredefinedAndStandingLiquidityTransferOrdersQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the Total Amount of Predefined and Standing Liquidity Transfer Orders Query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestType3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Liquidity transfer request type, in a proprietary form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINX2Max34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINX2Max34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReturnStandingOrderV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReturnStandingOrderV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The ReturnStandingOrder message is used to provide information on the details of one or more accounts held at the transaction administrator, including information on the balances.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader6">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptOrErr" type="StandingOrderOrError1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports on standing orders.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandingOrder2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrder2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the detailed attributes of a standing order.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Amt" type="Amount2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money and currency to be transferred when a payment instruction is created as a result of a standing order.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if the account is debited or credited by the standing order.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="StandingOrderType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the standing order.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ref" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for a standing order, as assigned by the account servicer or the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyPrd" type="DatePeriodDetails1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidityPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Dates during which the standing order is in effect. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SysMmb" type="BranchAndFinancialInstitutionIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemMember</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies if the account is debited or credited by the standing order.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnsblPty" type="BranchAndFinancialInstitutionIdentification5_T2S_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsibleParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LkSetId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkSetIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identiy the link set in which the standing order is defined. The link set is a collection of standing order defined in a specific sequence.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LkSetOrdrSeq" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LinkSetOrderSequence</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the sequence in which the system will execute the liquidity transfers standing order within the link set when additional liquidity is required.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ExctnTp" type="ExecutionType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines whether the standing order is executed through a time-based or an event-based trigger.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtrAcct" type="CashAccount24">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditorAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cash account credited from a  standing order mechanism.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TtlsPerStgOrdr" type="StandingOrderTotalAmount1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalsPerStandingOrder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Overall amount of "not yet executed" predefined liquidity transfer orders or "defined" by a system participant in its sphere of responsibility within the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ZeroSweepInd" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ZeroSweepIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the liquidity transfer standing order is defined as a zero sweeping order. When true, the liquidity transfer standing order will transfer all amount of money out of the account so the resulting balance is  zero.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandingOrder3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrder3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the detailed attributes of a standing order.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StgOrdrId" type="StandingOrderIdentification2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingOrderIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StgOrdrOrErr" type="StandingOrderOrError2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingOrderOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Requested information on the standing order or business error when information has not been found.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandingOrderIdentification2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrderIdentification2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the elements used to uniquely identify a standing order.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for a standing order, as assigned by the account servicer or the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Acct" type="CashAccount24">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Business relationship between two entities; one entity is the account owner, the other entity is the account servicer.
</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandingOrderOrError1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrderOrError1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between the standing order details or an operational error when the requested data cannot be retrieved.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="Rpt" type="StandingOrder3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Report</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reports either on the standing order or on a business error.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OperationalError</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that an operational error has been issued during the processing of the related request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandingOrderOrError2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrderOrError2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between the standing order details or a business error when the requested data cannot be retrieved.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="StgOrdr" type="StandingOrder2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">StandingOrder</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Requested information on the account.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="BizErr" type="ErrorHandling3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BusinessError</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason the requested business information is not given.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandingOrderTotalAmount1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrderTotalAmount1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details on the overall amount of "not yet executed" predefined liquidity transfer orders or "defined" by a system participant in its sphere of responsibility within the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SetPrdfndOrdr" type="TotalAmountAndCurrency1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SetPredefinedOrder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total defined amount of predefined liquidity transfer orders.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PdgPrdfndOrdr" type="TotalAmountAndCurrency1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingPredefinedOrder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total amount of not yet executed predefined liquidity transfer orders.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SetStgOrdr" type="TotalAmountAndCurrency1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SetStandingOrder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total defined amount of standing liquidity transfer orders.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PdgStgOrdr" type="TotalAmountAndCurrency1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingStandingOrder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total amount of not yet executed standing liquidity transfer orders.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandingOrderType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrderType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of liquidity transfer standing order.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="StandingOrderType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Liquidity transfer standing order type, in a coded form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StandingOrderType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrderType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of standing order, such as a user defined standing order or a predefined liquidity transfer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="USTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UserDefinedStandingOrder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Liquidity transfer standing order type, that has been customised or defined to the specific need of the user.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PSTO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PredefinedStandingOrder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Liquidity transfer standing order type, as predefined in the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="TotalAmountAndCurrency1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TotalAmountAndCurrency1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements providing the total amount of all operations.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TtlAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total net amount for all operations taken into account in the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
