xsd/v1/t2s.ReportQueryRequest.DRAFT3admi.005.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_admi.005
Usage Guideline: admi.005.001.01_T2S
Base Message: DRAFT3admi.005.001.01
Date of publication: 21 February 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_qJeKsJHHEeO8AZa8Y-tCFA/ab88d830-0674-45bd-87c5-f0d32272888d
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-03-19T01:55:25+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT3admi.005.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT3admi.005.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateSearchChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateSearchChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between search criteria based on dates and date ranges.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="EQDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">EqualDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date to match.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriodChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between various date time patterns.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range starts.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RptQryReq" type="ReportQueryRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventTypeCode_T2S_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EventTypeCode_T2S_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies different events.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BATM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntradayBATMCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intraday BATM cut-off</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1R0">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementReportingOfSequence0</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 /  Settlement reporting of Sequence 0</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1R4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementReportingOfSequence4</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 /  Settlement reporting of Sequence 4</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1R1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementReportingOfSequence1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 /  Settlement reporting of Sequence 1</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1R2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementReportingOfSequence2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 /  Settlement reporting of Sequence 2</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2RX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2SettlementReportingOfSequenceX</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 2 /  Settlement reporting of Sequence X</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2R4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2SettlementReportingOfSequence4</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 2 /  Settlement reporting of Sequence 4</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2RY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2SettlementReportingOfSequenceY</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 2 /  Settlement reporting of Sequence Y</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2RZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2SettlementReportingOfSequenceZ</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 2 /  Settlement reporting of Sequence Z</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1R3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementReportingOfSequence3</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 /  Settlement reporting of Sequence 3</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1U0">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementSDUpdateReportingOfSequence0</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 1 / Settlement SD Update Reporting of Sequence 0</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1U1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementSDUpdateReportingOfSequence1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 1 / Settlement SD Update Reporting of Sequence 1</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1U2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementSDUpdateReportingOfSequence2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 1 / Settlement SD Update Reporting of Sequence 2</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1U3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementSDUpdateReportingOfSequence3</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 1 / Settlement SD Update Reporting of Sequence 3</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1U4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementSDUpdateReportingOfSequence4</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 1 / Settlement SD Update Reporting of Sequence 4</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2UZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2SettlementSDUpdateReportingOfSequenceZ</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 2 / Settlement SD Update Reporting of Sequence Z</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2UY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2SettlementSDUpdateReportingOfSequenceY</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 2 / Settlement SD Update Reporting of Sequence Y</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2UX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2SettlementSDUpdateReportingOfSequenceX</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 2 / Settlement SD Update Reporting of Sequence X</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2U4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2SettlementSDUpdateReportingOfSequence4</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 2 / Settlement SD Update Reporting of Sequence 4</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ICBO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntradayCBOCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intraday CBO cut-off</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EESR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EODExtractDataForStatementsAndReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">EoD Extract Data for Statements and Reports</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IFOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntradayFOPCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intraday FoP cut-off</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSRC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntradayCashSettlementRestrictionsCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intraday cash settlement restrictions cut-off</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IDVP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntradayDVPCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intraday DVP cut-off</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LTRC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntradayLiquidityTransfersCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intraday liquidity transfers cut-off</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSRC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntradaySecuritiesSettlementRestrictionsCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intraday Securities Settlement Restrictions cut-off</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="QueryType2Code_T2S_7">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqTp" type="RequestType2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification71Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification71Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between different formats for the identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QueryType2Code_T2S_7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueryType2Code_T2S_7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">System entity wide indication.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NSYS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NonSystemEntityWideReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Non system entity wide report is based on level 3 participants.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SYST">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemEntityWideReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">System entity wide report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ReportCode_T2S_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportCode_T2S_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CECB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteStatementOfExecutedCancellationInstructionsForIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete report: Statement of executed Cancellation Instructions for Intra-Balance Movements.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CECP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteStatementOfExecutedCancellationInstructionsForIntraPositionMovementsAndSettlementInstructionsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete report: Statement of executed Cancellation Instructions for Intra-Position Movements and Settlement Instructions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">All available reports from the system can be requested.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CEAB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteStatementOfExecutedAmendmentInstructionsForIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete report: Statement of executed Amendment Instructions for Intra-Balance Movements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CEAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteStatementOfExecutedAmendmentInstructionsForIntraPositionMovementsAndSettlementInstructionsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete report: Statement of executed Amendment Instructions for Intra-Position Movements and Settlement Instructions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CPCB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteStatementOfPendingCancellationInstructionsForIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete report: Statement of pending Cancellation Instructions for Intra-Balance Movements.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CPCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteStatementOfPendingCancellationInstructionsForIntraPositionMovementsAndSettlementInstructionsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete report: Statement of pending Cancellation Instructions for Intra-Position Movements and Settlement Instructions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSCI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentSettlementDayCashInfomartionReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report: Current Settlement Day Cash Information report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSPM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteStatementOfSettledIntraPositionMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete report: Statement of settled Intra-Position Movements Reports.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CPAB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteStatementOfPendingAmendmentInstructionsForIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete report: Statement of pending Amendment Instructions for Intra-Balance Movements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CPAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteStatementOfPendingAmendmentInstructionsForIntraPositionMovementsAndSettlementInstructionsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete report: Statement of pending Amendment Instructions for Intra-Position Movements and Settlement Instructions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CPBM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteStatementOfPendingIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete report: Statement of pending for Intra-Balance Movements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSBM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteStatementOfSettledIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete report: Statement of settled for Intra-Balance Movements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSPI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteStatementOfPendingInstructionsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete report: Statement of Pending instructions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSOH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteStatementOfHoldingsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete  report: Statement of Holdings</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSOA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteStatementOfSettlementAllegementsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete report: Statement of Settlement Allegements</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSOT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteStatementOfTransactionReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete report: Statement of Transactions</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CPPM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CompleteStatementOfPendingIntraPositionMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete report: Statement of pending Intra-Position Movements Reports.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DEAB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaStatementOfExecutedAmendmentInstructionsForIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delta report: Statement of executed Amendment Instructions for Intra-Balance Movements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DEAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaStatementOfExecutedAmendmentInstructionsForIntraPositionMovementsAndSettlementInstructionsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delta report: Statement of executed Amendment Instructions for Intra-Position Movements and Settlement Instructions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DECB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaStatementOfExecutedCancellationInstructionsForIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delta report: Statement of executed Cancellation Instructions for Intra-Balance Movements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DECP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaStatementOfExecutedCancellationInstructionsForIntraPositionMovementsAndSettlementInstructionsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delta report: Statement of executed Cancellation Instructions for Intra-Position Movements and Settlement Instructions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DELT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">All available delta reports from the system can be requested</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPAB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaStatementOfPendingAmendmentInstructionsForIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delta report: Statement of pending Amendment Instructions for Intra-Balance Movements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaStatementOfPendingAmendmentInstructionsForIntraPositionMovementsAndSettlementInstructionsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delta report: Statement of pending Amendment Instructions for Intra-Position Movements and Settlement Instructions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPCB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaStatementOfPendingCancellationInstructionsForIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delta report: Statement of pending Cancellation Instructions for Intra-Balance Movements.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DCCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaStatementOfPendingCancellationInstructionsForIntraPositionMovementsAndSettlementInstructionsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delta report: Statement of pending Cancellation Instructions for Intra-Position Movements and Settlement Instructions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSOT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaStatementOfTransactionsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delta report: Statement of Transactions report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPBM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaStatementOfPendingIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delta report: Statement of pending for Intra-Balance Movements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DPPM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaStatementOfPendingIntraPositionMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delta report: Statement of pending Intra-Position Movements Reports.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSBM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaStatementOfSettledIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delta report: Statement of settled for Intra-Balance Movements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSPM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaStatementOfSettledIntraPositionMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delta report: Statement of settled Intra-Position Movements Reports.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSOA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaStatementOfSettlementAllegementsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delta report: Statement of Settlement Allegements</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSOH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaStatementOfHoldingReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delta report: Statement of Holdings.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSPI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeltaStatementOfPendingInstructionsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delta report: Statement of Pending Instructions report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FSCF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Following SettlementDayCashForecastReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report: Following Settlement Day Forecast Report</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SDSE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Statement of Static Data for Securities reports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report: Statement of Static Data for Securities.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SACC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfAccountsEndOfDay</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report: Statement of Accounts end-of-day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SDPA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfStaticDataForPartyReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report: Statement of Static Data for Party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SDSA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfStaticDataForSecuritiesAccountReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report: Statement of Static Data for Securities Accounts.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SDCA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfStaticDataForT2SDedicatedCashAccountReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report: Statement of Static Data for T2S Dedicated Cash Accounts.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SEAB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfExecutedAmendmentInstructionsForIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete and delta reports together: Statement of executedAmendment Instructions for Intra-Balance Movements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SEAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfExecutedAmendmentInstructionsForIntraPositionMovementsAndSettlementInstructionsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete and delta reports together: Statement of executedAmendment Instructions for Intra-Position Movements and Settlement Instructions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SECB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfExecutedCancellationInstructionsForIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete and delta reports together: Statement of executedCancellation Instructions for Intra-Balance Movements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SECP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfExecutedCancellationInstructionsForIntraPositionMovementsAndSettlementInstructionsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete and delta reports together: Statement of executedCancellation Instructions for Intra-Position Movements and Settlement Instructions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSOH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfHoldingsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete and delta reports together: Statement of Holdings</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPAB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfPendingAmendmentInstructionsForIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete and delta reports together: Statement of pending Amendment Instructions for Intra-Balance Movements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPAP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfPendingAmendmentInstructionsForIntraPositionMovementsAndSettlementInstructionsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete and delta reports together: Statement of pending Amendment Instructions for Intra-Position Movements and Settlement Instructions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPCB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfPendingCancellationInstructionsForIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete and delta reports together: Statement of pending Cancellation Instructions for Intra-Balance Movements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPCP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfPendingCancellationInstructionsForIntraPositionMovementsAndSettlementInstructionsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete and delta reports together: Statement of pending Cancellation Instructions for Intra-Position Movements and Settlement Instructions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSPI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfPendingInstructionsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete and delta reports together: Statement of Pending instructions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPBM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfPendingIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete and delta reports together: Statement of pending for Intra-Balance Movements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPPM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfPendingIntraPositionMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete and delta reports together: Statement of pending Intra-Position Movements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSBM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfSettledIntraBalanceMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete and delta reports together: Statement of settled for Intra-Balance Movements.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSPM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfSettledIntraPositionMovementsReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete and delta reports together: Statement of settled Intra-Position Movements Reports.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSOA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfSettlementAllegementsReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete and delta reports together: Statement of Settlement Allegements</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSOT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementOfTransactionReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Complete and delta reports together: Statement of Transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReportQueryCriteria1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportQueryCriteria1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria which are used to search for generated report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="NewQryNm" type="EventTypeCode_T2S_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewQueryName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the query defined by the search criteria and return criteria. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SchCrit" type="ReportQuerySearchCriteria1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to be used to extract the account information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportQueryRequestV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportQueryRequestV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The ReportQueryRequest message is exchanged between system member and system transaction administrator.
It aims at querying the latest available report data of a specific report type. A report is stored and available for query until the event occurs again report is replaced.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Set of elements to identify the report query request message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptQryCrit" type="ReportQueryCriteria1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportQueryCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Definition of the report query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ReportQuerySearchCriteria1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReportQuerySearchCriteria1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to search for a report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="RptNm" type="ReportCode_T2S_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Values of possible reports.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PtyId" type="PartyIdentification71Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report owning party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnsblPtyId" type="PartyIdentification71Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsiblePartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Responsible Party of the report owning party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DtSch" type="DateSearchChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DateSearch</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time when the report was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchdldTm" type="DateTimePeriodChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ScheduledTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Time when the (business) event, which triggered the report, was scheduled.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestType2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Request type is in proprietary format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
