xsd/v1/t2s.SecuritiesAccountListQuery.DRAFT5reda.019.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_reda.019
Usage Guideline: reda.019.001.01_T2S
Base Message: DRAFT5reda.019.001.01
Date of publication: 21 February 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_QunkJIzpEeOCYcf-u7C97Q/f61578b6-3e2e-45a6-856a-1fdfd4aab5fc
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-02-21T08:20:06+00:00
-->
<!---->
<xs:schema xmlns="urn:eurosystem:xsd:DRAFT5reda.019.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:eurosystem:xsd:DRAFT5reda.019.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DatePeriodDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DatePeriodDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of time defined by a start date and an end date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateSearchChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateSearchChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between search criteria based on dates and date ranges.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ToDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FrToDt" type="DatePeriodDetails">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromToDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Particular time span specified between a start date and an end date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="EQDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">EqualDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date to match.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesAcctQry" type="SecuritiesAccountQueryV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
            <xs:enumeration value="SALI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountListQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities Account List Query.&#13;
SARD&#13;
Securities Account Reference Data Query</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SARD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountReferenceDataQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities Account Reference Data Query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText_END_T2S">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText_END_T2S</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
            <xs:enumeration value="DVFO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DVPFOPAccountAllocations</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DVP/FOP Account Allocations.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FOPA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FOPAccountAllocations</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FOP Account Allocations</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NONE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoAccountAllocations</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No Account Allocations.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText_PRS_T2S">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText_PRS_T2S</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
            <xs:enumeration value="ISIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ISIN</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SACC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities Account</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="SACQ" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="T2S" name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender,, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqTp" type="RequestType2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestType2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Request type is in proprietary format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccountQueryV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountQueryV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Message sent for querying securities account reference data.

Scope and usage:
A CSD, NCB, CSD participant, payment bank instructs a securities account query message to the executing party to request related securities account reference data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference elements, as assigned by the instructing party, to unambiguously identify the modification request message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SchCrit" type="SecuritiesAccountSearchCriteria">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to be used to query the securities account reference data by the executing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccountSearchCriteria">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountSearchCriteria</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of search criteria for querying securties account reference data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that services the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="SystemPartyIdentification3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyTp" type="SystemPartyType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of the party for which securities account data have been queried.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="OpngDt" type="DateSearchChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OpeningDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal opening date for the securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsgDt" type="DateSearchChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClosingDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal closing date for the securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctTp" type="SystemSecuritiesAccountType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EndInvstrFlg" type="Exact4AlphaNumericText_END_T2S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndInvestorFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies information to identify securities accounts where allocation instructions are posted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PricgSchme" type="Exact4AlphaNumericText_PRS_T2S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PricingScheme</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines how the price is applied to the securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemPartyIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemPartyIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the party within the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RltdPtyId" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedPartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the party within the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RspnsblPtyId" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsiblePartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party responsible for the maintenance of the party reference data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SystemPartyType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemPartyType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of the party within a system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSDY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CentralSecuritiesDepository</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Infrastructure that holds or controls the holding of physical or dematerialised financial instruments belonging to all, or a large portion of, the investors in a securities market. This effects the centralised transfer of ownership of such securities by entries on its books and records.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NCBK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NationalCentralBank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">As system participant, the national central bank is the principal monetary authority of a nation and performs several key functions, including issuing currency and regulating the supply of credit in the economy.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PMBK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentBank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">National central bank or a private bank used to settle the cash leg of securities settlements: it provides the cash account to support the settlement of the securities transactions of another financial institution in central bank money (CeBM).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSDP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CentralSecuritiesDepositoryParticipant</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Participant of a central securities depositary defined within the system, for which the account holder is the central securities depository.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ECSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExternalCentralSecuritiesDepository</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Infrastructure that holds or controls the holding of physical or dematerialised financial instruments belonging to all, or a large portion of, the investors in a securities market. This effects the centralised transfer of ownership of such securities by entries on its books and records.&#13;
The infrastructure is external to the system executing the instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="SystemSecuritiesAccountType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemSecuritiesAccountType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Lists the type of the securities account specific for a system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSDP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CSDParticipantAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account owned by a CSD Participant
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSDM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CSDMirrorAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account operated by CSD for mirroring positions
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ICSA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterCSDAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account operated by CSD for settlement of securities legs for instructions involving internal CSD s.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TOFF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TechnicalOffsetAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account operated by CSDs in a direct holding market context</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSDO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CSDOmnibusAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account operated by CSD in cross-CSD settlement context.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISSA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuanceAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account reflecting the holdings of the participants of the issuer CSD for a given financial instrument</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
