xsd/v1/t2s.ReturnAccount.DRAFT8camt.004.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_camt.004
Usage Guideline: camt.004.001.05_T2S
Base Message: DRAFT8camt.004.001.05
Date of publication: 04 April 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_9qOKMJDaEeOOJbFcWF2yBQ/c4ad77d0-6841-4d08-895a-715c4b0942a3
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-04-04T08:28:37+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT8camt.004.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT8camt.004.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Othr" type="GenericAccountIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountOrBusinessError1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountOrBusinessError1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between account details or a business error when the requested data cannot be retrieved.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Acct" type="CashAccount23">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Requested information on the account.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="BizErr" type="ErrorHandling3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BusinessError</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason the requested business information is not given.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountOrOperationalError1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountOrOperationalError1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between account details or an operational error when the requested data cannot be retrieved.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="AcctRpt" type="AccountReport13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AccountReport</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reports either on the account information or on a business error.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OperationalError</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that an operational error has been issued during the processing of the related request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountReport13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountReport13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reports either on the account information or on a business error.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcctId" type="AccountIdentification4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctOrErr" type="AccountOrBusinessError1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Requested information on the account or business error when information has not been found.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BalanceRestrictionType1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceRestrictionType1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type providing further information on balance restrictions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="GenericIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the restriction, for example, selling restriction, buying restriction, placing restriction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgTp" type="ProcessingType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Classification of the type of processing restriction that the system should apply for the restriction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BalanceType8Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceType8Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the balance details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="T2SCashBalanceCodes_T2S_1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of a balance, in a proprietary form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount23">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount23</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a cash entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the currency of the cash account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ownr" type="PartyIdentification43">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Owner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Owner of the account which is being queried.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Svcr" type="BranchAndFinancialInstitutionIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Servicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Servicer of the account which is being queried.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MulBal" type="CashBalance5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MultilateralBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance is calculated with regard to many members in the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashBalance5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashBalance5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Balance details for a cash account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Amt" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency and amount of money of the cash balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the balance is a credit or a debit balance. A zero balance is considered to be a credit balance</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="BalanceType8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of a balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ValDt" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValueDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the balance is or will be available.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NbOfPmts" type="Number">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NumberOfPayments</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number of payments taken into account for the calculation of the cash balance value.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RstrctnTp" type="BalanceRestrictionType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RestrictionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type providing further information on balance restrictions.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditDebitCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is a decrease.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RtrAcct" type="ReturnAccountV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the choice between the listed and the proprietary error codes.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="Max4AlphaNumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the error resulting from the processing of a request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Error</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded or proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ExactAlphaNumericText_T2S_2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExactAlphaNumericText_T2S_2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="4"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BICFI" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINX2Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="ExactAlphaNumericText_T2S_2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1_T2S_2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1_T2S_2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="QueryType2Code_T2S_2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqTp" type="RequestType2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Number">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="0"/>
            <xs:totalDigits value="18"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="OrganisationIdentification8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OrganisationIdentification8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution or non financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalBusinessQuery1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the original requestor, to unambiguously identify the business query message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the original initiating party, to unambiguously identify the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party11Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Party11Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="OrgId" type="OrganisationIdentification8">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OrganisationIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification43">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification43</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a person or an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party11Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProcessingType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type of processing restrictions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ProcessingType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type of processing restrictions, in a coded form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProcessingType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProcessingType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of processing restrictions the central system must apply.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="RSVT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reservation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Restriction is the creation of a reservation of a cash balance or a securities position for a specific purpose.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BLCK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Blocking</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Restriction is the blocking of a party, securities account, security or cash account from settlement, blocking of securities position or cash balance for a specific purpose</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EARM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Earmarking</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Restriction of linked to the balance type that defines and manages position types for securities positions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EFAC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EarmarkingForAutoCollateralisation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Restriction of linked to the balance type that defines and manages position types for securities positions for auto-collateralisation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSDB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CoSDBlocking</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Restriction does not support any partial execution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QueryType2Code_T2S_2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueryType2Code_T2S_2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifyies the nature of the query, i.e. whether the query requests that all matching items be returned or only new matching items since the last similar query be returned.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">T2SDedicatedCashAccountBalanceQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the requested return criteria of the T2S dedicated cash account query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CASF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashForecastQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the requested return criteria for cash forecast query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OVAL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OverallLiquidityQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the requested return criteria for overall liquidity query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OACC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutstandingAutoCollateralisationCreditQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the requested return criteria for outstanding auto-collateralisation credit query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CEAM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CeilingAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the definition of the ceiling amount.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FLAM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FloorAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the definition of the floor amount.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestType2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="GenericIdentification1_T2S_2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Request type is in proprietary format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINX2Max34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINX2Max34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReturnAccountV05">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReturnAccountV05</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The ReturnAccount message is used to provide information on the details of one or more accounts held at the transaction administrator, including information on the balances.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptOrErr" type="AccountOrOperationalError1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports on accounts.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="T2SCashBalanceCodes_T2S_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">T2SCashBalanceCodes_T2S_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the system balance, such as opening balance.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACCA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AvailableCashOnDedicatedCashAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Available Liquidity on the Dedicated T2S Account in case of FLOR, CEIL and CASF.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACLN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AutoCollateralisationLimit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Auto-collateralisation Limit set by NCB.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACLU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AutoCollateralisationUtilisation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Auto-collateralisation limit utilisation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCLB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClientCollateralisationLimit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Client-collateralisation limit set by a payment/settlement bank.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CCLU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClientCollateralisationLimitUtilisation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Outstanding credit (i.e. Limit Utilisation) of the Client-collateralisation limit.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CEIL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Ceiling</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Maximum (ceiling liquidity) Balance/Amount of T2S dedicated cash account.Ceiling Notification Amount, It specifies the upper threshold for notifying the cash manager.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CRAC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OutstandingIntradayCredit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of outstanding intraday credit from auto-collateralisation for the T2S dedicated cash account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CVES">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EligibleSecuritiesOnStock</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collateral value of eligible securities on stock in T2S eligible for auto-collateralisation purposes.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FLOR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Floor</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Minimum (floor liquidity) Balance of T2S dedicated cash account. Floor Notification Amount, It specifies the lower threshold for notifying the cash manager.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LTCA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SumOfAllLiquidityTransferOrders</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sum of all liquidity transfer orders.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PCCA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProjectedBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Projected Balance = Total Cash on Cash account + sum of all Settlement Instructions + Sum of all Liquidity transfer orders.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RSTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RestrictionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Restriction Type field used.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SACB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AvailableCashTotal</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sum of available cash balances of all T2S Dedicated Cash Accounts.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SACL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SumAutoCollateralisationLimits</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sum of Auto-collateralisation limits which apply to this payment/settlement bank across all its T2S dedicated cash accounts.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SACU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SumAutoCollateralisationLimitsUtilisation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sum of Outstanding credit (i.e. the Limit Utilisation)of these Auto-collateralisation limits (across all its T2S dedicated cash accounts)</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SBCB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SumOfAllBlockedCashBalances</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sum of all blocked cash balances across all T2S dedicated cash accounts.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCCL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SumClientCollateralisationLimits</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sum of Client-collateralisation limits which apply on this client of a payment/settlement bank.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SCCU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SumClientCollateralisationLimitsUtilisation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sum of outstanding credit (i.e. Limit Utilisation) of these Client-collateralisation limits (limits which apply on this client of a payment/settlement bank).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SICA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SumOfAllSettlementInstructions</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sum of all settlement instructions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SRCB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SumOfReservedCashBalances</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sum of reserved cash balances across all T2S dedicated cash accounts.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SUPA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SumProjectedCashBalanceAndAmountOfOutstandingIntraday</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Sum of projected cash balance + amount of outstanding intraday credit from auto-collateralisation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TCCA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalCashOnCashAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total liquidity on Cash Account = Available Cash Balance + Restricted Cash Balances.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TSUM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalSumOfLiquidityAvailable</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">sum of liquidity available = collateral value of eligible securities + sum of available cash balances + sum of aggregated balances per Market-specific Restriction Processing Type.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
