xsd/v1/t2s.GetBusinessDayInformation.DRAFT6camt.018.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_camt.018
Usage Guideline: camt.018.001.03_T2S
Base Message: DRAFT6camt.018.001.03
Date of publication: 04 April 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_AnTmYJDbEeOOJbFcWF2yBQ/41bcd880-3185-44e6-adeb-d7498c83f75b
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-04-04T08:32:44+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT6camt.018.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT6camt.018.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BusinessDayCriteria1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayCriteria1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to search for business day information and to report on the business day information. A name may be given to the new query.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SchCrit" type="BusinessDaySearchCriteria1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria on which the information is extracted.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayCriteria2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayCriteria2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the information that is searched either implicitly by recalling a previous query or explicitly by defining the criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NewCrit" type="BusinessDayCriteria1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NewCriteria</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Explicitly defines the query criteria.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDayQuery1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDayQuery1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the query criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Crit" type="BusinessDayCriteria2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Criteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the business day information query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BusinessDaySearchCriteria1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BusinessDaySearchCriteria1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to search for system business day information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="SysDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date for which the availability information is provided.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SysCcy" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency which may be processed by the system. A system may process transactions in a single currency or in multiple currencies.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EvtTp" type="SystemEventType2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EventType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nature of the event that has occurred.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsrPrd" type="DateTimePeriodChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClosurePeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Period of time when the system is closed/not operating.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriodChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between various date time patterns.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="DtTmRg" type="DateTimePeriodDetails">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTimeRange</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Range of time between a start date and time and an end date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriodDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Time span defined by a start date and time, and an end date and time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="GetBizDayInf" type="GetBusinessDayInformationV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventTypeCode_T2S_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EventTypeCode_T2S_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies different events.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BATM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntradayBATMCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intraday BATM cut-off</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1R0">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementReportingOfSequence0</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 /  Settlement reporting of Sequence 0</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1R4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementReportingOfSequence4</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 /  Settlement reporting of Sequence 4</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1R1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementReportingOfSequence1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 /  Settlement reporting of Sequence 1</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1R2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementReportingOfSequence2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 /  Settlement reporting of Sequence 2</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2RX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2SettlementReportingOfSequenceX</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 2 /  Settlement reporting of Sequence X</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2R4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2SettlementReportingOfSequence4</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 2 /  Settlement reporting of Sequence 4</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2RY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2SettlementReportingOfSequenceY</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 2 /  Settlement reporting of Sequence Y</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2RZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2SettlementReportingOfSequenceZ</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 2 /  Settlement reporting of Sequence Z</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1R3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementReportingOfSequence3</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 /  Settlement reporting of Sequence 3</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1U0">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementSDUpdateReportingOfSequence0</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 1 / Settlement SD Update Reporting of Sequence 0</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1U1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementSDUpdateReportingOfSequence1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 1 / Settlement SD Update Reporting of Sequence 1</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1U2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementSDUpdateReportingOfSequence2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 1 / Settlement SD Update Reporting of Sequence 2</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1U3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementSDUpdateReportingOfSequence3</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 1 / Settlement SD Update Reporting of Sequence 3</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1U4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1SettlementSDUpdateReportingOfSequence4</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 1 / Settlement SD Update Reporting of Sequence 4</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2UZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2SettlementSDUpdateReportingOfSequenceZ</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 2 / Settlement SD Update Reporting of Sequence Z</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2UY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2SettlementSDUpdateReportingOfSequenceY</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 2 / Settlement SD Update Reporting of Sequence Y</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2UX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2SettlementSDUpdateReportingOfSequenceX</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 2 / Settlement SD Update Reporting of Sequence X</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2U4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2SettlementSDUpdateReportingOfSequence4</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of Cycle 2 / Settlement SD Update Reporting of Sequence 4</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ICBO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntradayCBOCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intraday CBO cut-off</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EESR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EODExtractDataForStatementsAndReports</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">EoD Extract Data for Statements and Reports</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IFOP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntradayFOPCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intraday FoP cut-off</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSRC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntradayCashSettlementRestrictionsCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intraday cash settlement restrictions cut-off</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="IDVP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntradayDVPCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intraday DVP cut-off</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LTRC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntradayLiquidityTransfersCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intraday liquidity transfers cut-off</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SSRC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntradaySecuritiesSettlementRestrictionsCutOff</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Intraday Securities Settlement Restrictions cut-off</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText_REQT_T2S">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText_REQT_T2S</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
            <xs:enumeration value="CALE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">T2SCalendarQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">T2S Calendar query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DIAR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">T2SDiaryQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">T2S Diary query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STAT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusOfSettlementDayQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of settlement day query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification2_T2S">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification2_T2S</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText_REQT_T2S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="T2S" name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification3_T2S">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification3_T2S</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="EventTypeCode_T2S_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetBusinessDayInformationV03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GetBusinessDayInformationV03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The GetBusinessDayInformation message is used to request information on different types of administrative data linked to the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BizDayInfQryDef" type="BusinessDayQuery1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BusinessDayInformationQueryDefinition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the business day information query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender,, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqTp" type="RequestType2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RequestType2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="GenericIdentification2_T2S">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Request type is in proprietary format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemEventType2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemEventType2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of system event.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="GenericIdentification3_T2S">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type of system event  that has occurred, expressed as free text or a bilaterally agreed code.
</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
