xsd/v1/t2s.ModifyStandingOrder.DRAFT7camt.024.001.04.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_camt.024
Usage Guideline: camt.024.001.04_T2S
Base Message: DRAFT7camt.024.001.04
Date of publication: 04 April 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_BvUXUJDbEeOOJbFcWF2yBQ/f6ce9428-5c9a-4c1c-890b-3d667a6d3679
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-04-04T08:31:11+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT7camt.024.001.04" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT7camt.024.001.04">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Othr" type="GenericAccountIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Amount2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Amount2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between an amount with or without the currency. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AmtWthCcy" type="RestrictedFINActiveCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AmountWithCurrency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is explicit.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount24">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount24</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount24_T2S_2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount24_T2S_2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="CashAccountType2Choice_T2S_1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the nature, or use of the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountType2Choice_T2S_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccountType2Choice_T2S_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="ProprietaryCashAccountTypeCode_T2S_1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account in a proprietary form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriodDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DatePeriodDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of time defined by a start date and an end date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriodDetails2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DatePeriodDetails2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of time defined by a start date and an end date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ToDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FrToDt" type="DatePeriodDetails">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromToDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Range of time between a start date and an end date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ModfyStgOrdr" type="ModifyStandingOrderV04"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EventType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EventType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type of the event.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="EventTypeCode_T2S_2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type of the event, in a free text form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventTypeCode_T2S_2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EventTypeCode_T2S_2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="C1P0">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1PreparationOfSequence0</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 / preparation of sequence 0.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1P1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1PreparationOfSequence1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 / preparation of sequence 1.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1P2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1PreparationOfSequence2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 / preparation of sequence 2.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1P3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1PreparationOfSequence3</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 / preparation of sequence 3.&#13;
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C1P4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle1PreparationOfSequence4</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 1 / preparation of sequence 4.&#13;
&#13;
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2P4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2PreparationOfSequence4</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 2 / preparation of sequence 4.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2PX">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2PreparationOfSequenceX</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 2 / preparation of sequence X.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2PY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2PreparationOfSequenceY</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 2 / preparation of sequence Y.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="C2PZ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StartOfCycle2PreparationOfSequenceZ</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start of cycle 2 / preparation of sequence Z.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CARL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CorporateActionRebalancingLiquidity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Corporate Action Rebalancing Liquidity.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OCSW">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndOfDayLiquidityTransfersOptional</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End of day Liquidity Transfers - optional.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ExecutionType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ExecutionType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of execution to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Tm" type="ISOTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Time</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Execution type is executed based on an time trigger.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Evt" type="EventType1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Event</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Execution type is executed based on an event driven trigger.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISOTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISOTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar day expressed in either UTC time format (hh:mm:ss.sssZ), local time with UTC offset format (hh:mm:ss.sss+/-hh:mm), or local time format (hh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:complexType name="MessageHeader1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.&#13;
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ModifyStandingOrderV04">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ModifyStandingOrderV04</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The ModifyStandingOrder message is used to request a change in the features of a permanent order for the transfer of amount of money between two accounts belonging to the same member and being held at the transaction administrator.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StgOrdrId" type="StandingOrderIdentification2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StandingOrderIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the standing order.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NewStgOrdrValSet" type="StandingOrder1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewStandingOrderValueSet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">New set of values for the standing order.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProprietaryCashAccountTypeCode_T2S_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryCashAccountTypeCode_T2S_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature, or use, of the cash account.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CREA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreateLiquidityTransferOrder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Create new liquidity transfer order.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UPDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateLiquidityTransferOrder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Update existing liquidity transfer order.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StandingOrder1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrder1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">New standing order values.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="Amount2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money and currency to be transferred when a payment instruction is created as a result of a standing order.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtrAcct" type="CashAccount24">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditorAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cash account credited from a  standing order mechanism.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ExctnTp" type="ExecutionType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExecutionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines whether the standing order is executed through a time-based or an event-based trigger.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VldtyPrd" type="DatePeriodDetails2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidityPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Dates during which the standing order is in effect. </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ZeroSweepInd" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ZeroSweepIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the standing order is defined as a zero sweeping order. When true, the liquidity transfer standing order will transfer all amount of money out of the account so the resulting balance is  zero.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StandingOrderIdentification2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StandingOrderIdentification2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the elements used to uniquely identify a standing order.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for a standing order, as assigned by the account servicer or the account owner.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Acct" type="CashAccount24_T2S_2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Business relationship between two entities; one entity is the account owner, the other entity is the account servicer.
</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
