xsd/v1/T2S_UDFS_2.0_reda.010.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_reda.010
Usage Guideline: reda.010.001.01_T2S
Base Message: DRAFT2reda.010.001.01
Date of publication: 04 April 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_ZqyvAYn2EeOlJKS1p63h1w/42e9078f-42ba-40d9-b449-9a16b1b63b22
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-04-04T09:07:01+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT2reda.010.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT2reda.010.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Classification type of the financial instrument, as per the ISO 10962 Classification of Financial Instrument (CFI) codification, eg, common share with voting rights, fully paid, or registered.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{1,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DatePeriodDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DatePeriodDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of time defined by a start date and an end date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateSearchChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateSearchChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between search criteria based on dates and date ranges.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ToDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FrToDt" type="DatePeriodDetails">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromToDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Particular time span specified between a start date and an end date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="EQDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">EqualDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date to match.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctyQry" type="SecurityQueryV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification11">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification11</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification and creation date of a document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the document (message) assigned by the sender of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
            <xs:enumeration value="CSDL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesCSDLinkQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities CSD Link Query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DEVN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesDeviatingNominalQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities Deviating Nominal Query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISINListQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ISIN List Query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SECR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesReferenceDataQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities Reference Data Query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="SECQ" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="T2S" name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification71Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification71Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between different formats for the identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesSearchCriteria1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesSearchCriteria1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Criteria for a query about securities reference data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="FinInstrmId" type="SecurityIdentification14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Way(s) of identifying the security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClssfctnFinInstrm" type="CFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClassificationFinancialInstrument</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Classification type of the financial instrument, as per the ISO Classification of Financial Instrument (CFI) codification, for example, common share with voting rights, fully paid, or registered.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MtrtyDt" type="DateSearchChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MaturityDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Planned final repayment date at the time of issuance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseDt" type="DateSearchChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssueDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/time at which the security was made available.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IsseCcy" type="ActiveOrHistoricCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssueCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency in which a security is issued or redenominated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtryOfIsse" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountryOfIssue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Primary market or country where a security is issued by the issuer or its agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MntngCSD" type="SystemPartyIdentification1Choice_NOEXT_T2S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MaintainingCSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity involved in an activity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="InvstrCSD" type="SystemPartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvestorCSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity involved in an activity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IssrCSD" type="SystemPartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuerCSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity involved in an activity.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TechIssrCSD" type="SystemPartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TechnicalIssuerCSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical issuer of a security</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CSD" type="SystemPartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">CSD of a security</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification14</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityQueryV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityQueryV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">SCOPE&#13;
An instructing party sends a SecurityQuery message to an executing/servicing party to request a report of financial instrument details in their system.&#13;
&#13;
The instructing party - executing/servicing party relationship may be:&#13;
- Central Securities Depositories (CSD) who would like to publish security static data, or &#13;
- a Corporate, or&#13;
- a Bank, or&#13;
- a Market Infrastructure, or &#13;
- a Market Data Provider.&#13;
&#13;
USAGE&#13;
The request is sent when the instructing party needs to see data of a security data within the executing/servicing party system.&#13;
&#13;
Initiator:  instructing party</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that unambiguously identifies a security creation request message as known by the instructing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqTp" type="GenericIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SchCrit" type="SecuritiesSearchCriteria1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to be used to query the securities reference data by the executing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemPartyIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemPartyIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between an identification of a party or a combination of the responsible party identification and the business identifier.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="OrgId" type="PartyIdentification71Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OrganisationIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides the identification of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CmbndId" type="SystemPartyIdentification3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CombinedIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifies the party with the combined identification of both the responsible entity and the party itself.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemPartyIdentification1Choice_NOEXT_T2S">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemPartyIdentification1Choice_NOEXT_T2S</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between an identification of a party or a combination of the responsible party identification and the business identifier.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="OrgId" type="PartyIdentification71Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OrganisationIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides the identification of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemPartyIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemPartyIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the party within the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RltdPtyId" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedPartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the party within the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RspnsblPtyId" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsiblePartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party responsible for the maintenance of the party reference data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
