xsd/v1/T2S_UDFS_2.0_reda.023.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_reda.023
Usage Guideline: reda.023.001.01_T2S
Base Message: DRAFT5reda.023.001.01
Date of publication: 21 February 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_RbZxoozpEeOCYcf-u7C97Q/910b4b7b-e1b8-45f4-9c8f-c0d9fda6c5d7
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-04-01T12:49:06+00:00
-->
<!---->
<xs:schema xmlns="urn:eurosystem:xsd:DRAFT5reda.023.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:eurosystem:xsd:DRAFT5reda.023.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="DataModification1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DataModification1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specified the type of modification to be applied on a data set.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="INSE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InsertNewDataSet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insert a new set of data.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UPDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateDataSetDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Update the details of an existing set of data.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DELT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeleteDataSet</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Delete an existing set of data.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesAcctModReq" type="SecuritiesAccountModificationRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification11">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification11</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification and creation date of a document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the document (message) assigned by the sender of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText_END_T2S">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText_END_T2S</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
            <xs:enumeration value="DVFO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DVPFOPAccountAllocations</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">DVP/FOP Account Allocations.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FOPA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FOPAccountAllocations</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">FOP Account Allocations</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NONE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoAccountAllocations</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No Account Allocations.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText_PRS_T2S">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText_PRS_T2S</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
            <xs:enumeration value="ISIN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">ISIN</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SACC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities Account</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketSpecificAttribute1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MarketSpecificAttribute1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines additional attributes for party reference data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the name of the market-specific attribute.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Val" type="RestrictedFINXMax350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Value</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the value of the market-specific attribute.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,350}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer.”</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccountModification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountModification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information about the kind of modification request for securities account reference data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ScpIndctn" type="DataModification1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ScopeIndication</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of requested modification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqdMod" type="SecuritiesAccountModification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestedModification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the elements to be modified for the securities account reference data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccountModification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountModification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies which information are involved by a modification request for securities account reference data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="SysSctiesAcct" type="SystemSecuritiesAccount2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SystemSecuritiesAccount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SysRstrctn" type="SystemRestriction1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SystemRestriction</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Defines the specific processing characteristics for a party to ensure configurability of specific requirements, as prescribed by national legal and regulatory requirements and practices.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MktSpcfcAttr" type="MarketSpecificAttribute1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">MarketSpecificAttribute</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Additional attributes defined by a central security depositary for a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccountModificationRequestV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountModificationRequestV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Message sent for requesting an update of a securities account in the executing system securities account reference data.

Scope and usage
The securities account modification request message is exchanged between an instructing party and the executing party. 
It aims at instructing the update of an existing securities account by amending its existing details or providing additional details.
Processing and confirmation of the securities account modification request message are provided via a securities account status advice.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="DocumentIdentification11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference elements, as assigned by the instructing party, to unambiguously identify the modification request message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctId" type="SecuritiesAccount13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Securities account to be updated in the executing party system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Mod" type="SecuritiesAccountModification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Modification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the scope of the modification requested</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemRestriction1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemRestriction1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information on the system restriction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="VldFr" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date from which the restriction is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VldTo" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date until which the restriction is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the identification of a restriction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemSecuritiesAccount2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemSecuritiesAccount2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.
It holds information such as opening and closing date and whether it can hold negative positions.
Definition of the entity includes the default setting for holding of settlement instructions involving positions related to the account.
Set of MarketSpecificAttributes define specific properties for the account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsgDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClosingDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal closing date for the securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="HldInd" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HoldIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Meaning when true : Account is in Hold status.&#13;
Meaning when false : Account is in Release status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NegPos" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NegativePosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the securities account can hold a negative position in a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EndInvstrFlg" type="Exact4AlphaNumericText_END_T2S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndInvestorFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies information to identify securities accounts where allocation instructions are posted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PricgSchme" type="Exact4AlphaNumericText_PRS_T2S">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PricingScheme</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines how the price is applied to the securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
