xsd/v1/T2S_UDFS_2.0_semt.028.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_semt.028
Usage Guideline: semt.028.001.01_T2S
Base Message: DRAFT3semt.028.001.01
Date of publication: 26 February 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_7coNUJoGEeOfZIFeZ_mong/0dae4111-7fcd-4dff-991f-116a4b8fd83a
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-04-01T13:16:09+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT3semt.028.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT3semt.028.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AmountRangeBoundary1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AmountRangeBoundary1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Limit for an amount range.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BdryAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BoundaryAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount value of the range limit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Incl" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Included</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the boundary amount is included in the range of amount values.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeSearch2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeSearch2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateSearchChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="DtTm" type="DateTimeSearch1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndDateTimeSearch2Choice_T2S_01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeSearch2Choice_T2S_01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format, reduced to EQDt choice for T2S.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateSearchChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriodDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DatePeriodDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of time defined by a start date and an end date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateSearchChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateSearchChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between search criteria based on dates and date ranges.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ToDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FrToDt" type="DatePeriodDetails">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromToDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Particular time span specified between a start date and an end date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="EQDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">EqualDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date to match.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateSearchChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateSearchChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between search criteria based on dates and date ranges.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ToDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FrToDt" type="DatePeriodDetails">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromToDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Particular time span specified between a start date and an end date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="EQDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">EqualDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date to match.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NEQDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NotEqualDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date to be excluded from the search.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriodDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Time span defined by a start date and time, and an end date and time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimeSearch1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimeSearch1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between search criteria based on dates and date ranges.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ToDtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FrToDtTm" type="DateTimePeriodDetails">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromToDateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Particular time span specified between a start date and an end date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="EQDtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">EqualDateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date to match.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="IntraPosMvmntQry" type="IntraPositionMovementQueryV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with an exact length of 4 digits</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
            <xs:enumeration value="0001">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reserved</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="0003">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">High</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="0004">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Normal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="0002">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Top</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantitySearch1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantitySearch1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="QuantityRange1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, for example a number of shares.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FaceAmt" type="ImpliedCurrencyAmountRangeChoice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, that is the principal, of a debt instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FromToAmountRange">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FromToAmountRange</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of amount values.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrAmt" type="AmountRangeBoundary1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Lower boundary of a range of amount values.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToAmt" type="AmountRangeBoundary1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Upper boundary of a range of amount values.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FromToQuantityRange1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FromToQuantityRange1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of quantities.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrQty" type="QuantityRangeBoundary1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Lower boundary of a range of quantity values.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToQty" type="QuantityRangeBoundary1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Upper boundary of a range of quantity values.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20_T2S_01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification20_T2S_01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="T2S" name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="RT" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification37_T2S_01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification37_T2S_01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification expressed as a proprietary type and narrative description.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ImpliedCurrencyAmountRangeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ImpliedCurrencyAmountRangeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between ranges of values in which an amount is considered valid or a specified amount value which has to be matched or unmatched to be valid.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrAmt" type="AmountRangeBoundary1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Lower boundary of a range of amount values.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ToAmt" type="AmountRangeBoundary1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ToAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Upper boundary of a range of amount values.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FrToAmt" type="FromToAmountRange">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromToAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Range of valid amount values.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="EQAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">EqualAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Exact value an amount must match to be considered valid.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionMovementQueryV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionMovementQueryV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The IntraPositionMovementQuery message is sent from an account owner/requestor to a settlement infrastructure to query intra-position movement instructions, along with their current status, based on a set of search criteria.&#13;
The message may also be used to: &#13;
- re-send a message sent by the account owner to the account servicer (the sub-function of the message is "Duplicate") &#13;
- provide a third party with a copy of a message being sent by the account owner for information (the sub-function of the message is "Copy") &#13;
- re-send to a third party a copy of a message being sent by the account owner for information (the sub-function of the message is "Copy Duplicate").&#13;
</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="QryDef" type="IntraPositionQueryDefinition1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryDefinition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the intra-position movement instruction query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionQueryCriteria1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionQueryCriteria1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria based on which information is included.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Refs" type="References36Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">References</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collective reference identifying a set of messages.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sts" type="IntraPositionQueryStatus1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the status of settlement of a transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="FinInstrmId" type="SecurityIdentification14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments representing a sum of rights of the investor vis-a-vis the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SfkpgAcctOwnr" type="SystemPartyIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalTp" type="IntraPositionType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance to which the amount of money is moved.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SctiesSubBalId" type="GenericIdentification37_T2S_01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesSubBalanceIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number identifying a lot constituting the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmQty" type="QuantitySearch1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of securities to be settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttldQty" type="QuantitySearch1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettledQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instrument effectively settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IntnddSttlmDt" type="DateAndDateTimeSearch2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntendedSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the securities are intended to be moved.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvSttlmDt" type="DateAndDateTimeSearch2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EffectiveSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the securities are moved.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Prty" type="PriorityNumeric1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is to be executed with a high priority.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CtryOfIsse" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountryOfIssue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Primary market or country where a security is issued by the issuer or its agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MsgOrgtr" type="SystemPartyIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageOriginator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that originated the message, if other than the sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CreDtTm" type="DateAndDateTimeSearch2Choice_T2S_01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the creation date/time of the intra-position movement.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionQueryDefinition1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionQueryDefinition1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the information that is searched through the definition of specific criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="QryTp" type="MovementResponseType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the type of query.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SchCrit" type="IntraPositionQueryCriteria1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to extract the intra-position movement instruction information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionQueryStatus1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionQueryStatus1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the intra-position movement status query criteria including the status period.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="IntraPositionStatusType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the status type of query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionStatusType1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionStatusType1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of the intra-position movement status type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrcgSts" type="ProcessingStatus33Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the processing status of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmSts" type="SettlementStatus1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the settlement status of a transaction</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sttld" type="ProprietaryReason1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the state or the condition.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionType1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionType1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Intra-position type used to specify pairs of from/to balances.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BalFr" type="SecuritiesSubBalanceTypeAndQuantityBreakdown1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance from which the securities are moving.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BalTo" type="SecuritiesSubBalanceTypeAndQuantityBreakdown1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance to which the securities are moving.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MovementResponseType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MovementResponseType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of movement response to be returned.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Full</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response will include full details on the movements reported.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STTS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response will include limited details including the status on the movements reported.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification44Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification44Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification46">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification46</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of an entity involved in an activity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification44Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriorityNumeric1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PriorityNumeric1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the priority.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Nmrc" type="Exact4NumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Numeric</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the execution priority of the instruction with a number between 0001 and 9999.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingStatus33Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProcessingStatus33Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the processing status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="TransactionProcessingStatus3Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides the status of an instruction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryReason1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the reason related to a status.</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="QuantityRange1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QuantityRange1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between ranges of values in which a quantity is considered valid or a specified quantity value which has to be matched or unmatched to be valid.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrQty" type="QuantityRangeBoundary1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromQuantity</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Lower boundary of a range of quantity values.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ToQty" type="QuantityRangeBoundary1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ToQuantity</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Upper boundary of a range of quantity values.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FrToQty" type="FromToQuantityRange1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromToQuantity</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Range of valid quantity values.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="EQQty" type="RestrictedFINDecimalNumber">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">EqualQuantity</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Exact value a quantity must match to be considered valid.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantityRangeBoundary1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QuantityRangeBoundary1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Limit for a quantity range.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Bdry" type="RestrictedFINDecimalNumber">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Boundary</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity value of the range limit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Incl" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Included</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the boundary quantity is included in the range of quantity values. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantitySearch1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QuantitySearch1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the quantity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="FinancialInstrumentQuantitySearch1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instrument in units, original face amount or current face amount.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="References36Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">References36Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">References of the original instruction for which an action has been requested.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AcctOwnrTxId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AccountOwnerTransactionIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account owner (or the instructing party managing the account).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AcctSvcrTxId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AccountServicerTransactionIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account servicer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MktInfrstrctrTxId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureTransactionIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of a transaction assigned by a market infrastructure other than a central securities depository, for example, Target2-Securities.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrcrTxId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProcessorTransactionIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of the transaction as assigned by the processor.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINDecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, for example, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . ,  + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . ,  + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesBalanceType11Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesBalanceType11Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the securities or investment fund balance.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWAS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AvailableWithNoAdditionalStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of financial instruments that are freely available with no specific additional status.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesBalanceType3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesBalanceType3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the balance type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SecuritiesBalanceType11Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Sub-balance expressed as an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification20_T2S_01">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Sub-balance expressed as a proprietary code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesSettlementStatus1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlementStatus1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the status of settlement of an instruction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PEND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pending</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction is pending. Settlement at the instructed settlement date is still possible.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesSubBalanceTypeAndQuantityBreakdown1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesSubBalanceTypeAndQuantityBreakdown1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Quantity breakdown information for a specific securities balance.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="SecuritiesBalanceType3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the securities sub balance type indicator (example restriction type for a market infrastructure).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification14</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementStatus1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementStatus1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the settlement status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SecuritiesSettlementStatus1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides the status of settlement of an instruction/financial instrument movement.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemPartyIdentification5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemPartyIdentification5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify a system party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RltdPtyId" type="PartyIdentification46">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedPartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party referenced by a request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnsblPtyId" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsiblePartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party responsible for the maintenance of the party reference data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TransactionProcessingStatus3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionProcessingStatus3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the processing status of a transaction (at account servicer level).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CAND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cancelled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has been cancelled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PACK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AcknowledgedAccepted</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has been acknowledged/accepted for further processing by the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
