xsd/v1/T2S_UDFS_2.0_semt.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_semt.002
Usage Guideline: semt.002.001.05_T2S
Base Message: semt.002.001.05
Date of publication: 04 April 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_9jaeEIzpEeOCYcf-u7C97Q/3aaa1842-ec25-4b1c-8884-8e51d094dfad
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-04-04T08:48:21+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:semt.002.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:semt.002.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AdditionalBalanceInformation10">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AdditionalBalanceInformation10</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Subbalances providing additional information on a specific position but that is not to be accounted for in the building of the aggregate balance, for example, registered.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SubBalTp" type="SubBalanceType8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubBalanceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Qty" type="SubBalanceQuantity4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of securities in the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SubBalAddtlDtls" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubBalanceAdditionalDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional subbalance information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="QtyBrkdwn" type="QuantityBreakdown18">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QuantityBreakdown</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Breakdown of the aggregate quantity reported into significant lots, for example, tax lots.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AggregateBalanceInformation18">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AggregateBalanceInformation18</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Overall position, in a single security, held in a securities account at a specified place of safekeeping.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification15">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments representing a sum of rights of the investor vis-a-vis the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AggtBal" type="Balance2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AggregateBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AvlblBal" type="BalanceQuantity7Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AvailableBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance that is available.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NotAvlblBal" type="BalanceQuantity7Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotAvailableBalance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance that is not available.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalBrkdwn" type="SubBalanceInformation10">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceBreakdown</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Breakdown of the aggregate balance per meaningful sub-balances and availability.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Balance2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Balance2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding, in a single security, within the overall position held in a securities account. A securities balance is calculated from the sum of securities' receipts minus the sum of securities' deliveries.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ShrtLngInd" type="ShortLong1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortLongIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indication that the position is short or long.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Qty" type="BalanceQuantity6Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BalanceQuantity6Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceQuantity6Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between quantity formats for the balance information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="Quantity10Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BalanceQuantity7Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BalanceQuantity7Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between quantity formats for the balance information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice_T2S_01">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Total quantity of financial instruments of the balance.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndDateTimeChoice_T2S_02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice_T2S_02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format, reduced to date time for T2S.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesBalCtdyRpt" type="SecuritiesBalanceCustodyReportV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency7Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EventFrequency7Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the regularity of an event.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADHO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Adhoc</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event takes place as necessary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DAIL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Daily</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event takes place every day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntraDay</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event takes place several times a day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText_T2S_01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText_T2S_01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the values for T2S 'Restriction Processing Type'.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
            <xs:enumeration value="BLCK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BlockedSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Blocked security</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COLL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Collateralized</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collateralized</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COSP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">COSDBlockingOfSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">CoSD blocking of securities</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EARM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EarmarkedSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Earmarked security</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="RESE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReservedSecurity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reserved security</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity15Choice_T2S_01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity15Choice_T2S_01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security, reduced to unit and face amount for T2S.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="RestrictedFINDecimalNumber">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Frequency10Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Frequency10Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for a frequency, for example, the frequency of delivery of a statement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="EventFrequency7Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Frequency expressed as an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification25_T2S_01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification25_T2S_01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">New type to restriction reference for fixed values within T2S.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="T2S" name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="RT" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification25_T2S_02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification25_T2S_02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">New type to restriction processing type for fixed values within T2S.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText_T2S_01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="T2S" name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="RPT" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification39">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification39</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification expressed as a proprietary type and narrative description.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINMax30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 5 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Pagination">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Pagination</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number used to sequence pages when it is not possible for data to be conveyed in a single message and the data has to be split across several pages (messages).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPgInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the last page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification51Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification51Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification59Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification59Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity10Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Quantity10Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the quantity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice_T2S_01">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instrument in units, original face amount or current face amount.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="QuantityBreakdown18">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QuantityBreakdown18</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details of breakdown of a quantity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LotNb" type="GenericIdentification39">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LotNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification, for tax purposes, of a lot of identical securities that are bought at a certain date and at a certain price.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LotQty" type="FinancialInstrumentQuantity15Choice_T2S_01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LotQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instruments that is part of the lot described.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINDecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, for example, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINMax30Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINMax30Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 30 characters. It has a pattern ([^/]+/)+([^/]+)|([^/]*) that disables the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([^/]+/)+([^/]+)|([^/]*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount15">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount15</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesBalanceCustodyReportV05">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesBalanceCustodyReportV05</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
An account servicer sends a SecuritiesBalanceCustodyReport to an account owner to provide, at a moment in time, the quantity and identification of the financial instruments that the account servicer holds for the account owner&#13;
The account servicer/owner relationship may be:&#13;
- a central securities depository or another settlement market infrastructure acting on behalf of their participants, or&#13;
- an agent (sub-custodian) acting on behalf of their global custodian customer, or&#13;
- a custodian acting on behalf of an investment management institution or a broker/dealer, or&#13;
- a transfer agent acting on behalf of a fund manager or an account owner's designated agent.&#13;
Usage&#13;
The message can also include availability and the location of holdings to facilitate trading and minimise settlement issues. The message reports all information per financial instrument, that is, when a financial instrument is held at multiple places of safekeeping, the total holdings for all locations can be provided.&#13;
The message should be sent at a frequency agreed bi-laterally between the account servicer and the account owner. The message may be provided on a trade date, contractual or settlement date basis.&#13;
There may be one or more intermediary parties, for example, an intermediary or a concentrator between the account owner and account servicer.&#13;
The message may also be used to:&#13;
- re-send a message previously sent,&#13;
- provide a third party with a copy of a message for information,&#13;
- re-send to a third party a copy of a message for information.&#13;
using the relevant elements in the Business Application Header.
ISO 15022 - 20022 Coexistence
This ISO 20022 message is reversed engineered from ISO 15022. Both standards will coexist for a certain number of years. Until this coexistence period ends, the usage of certain data types is restricted to ensure interoperability between ISO 15022 and 20022 users. Compliance to these rules is mandatory in a coexistence environment.  The coexistence restrictions are described in a Textual Rule linked to the Message Items they concern. These coexistence textual rules are clearly identified as follows:  ?CoexistenceXxxxRule?.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Pgntn" type="Pagination">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number of the message (within a statement) and continuation indicator to indicate that the statement is to continue or that the message is the last page of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StmtGnlDtls" type="Statement34">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementGeneralDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides general information on the report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification51Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcr" type="PartyIdentification59Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that manages the account on behalf of the account owner, that is manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SfkpgAcct" type="SecuritiesAccount15">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BalForAcct" type="AggregateBalanceInformation18">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceForAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding, in a single security, within the overall position held in a securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesBalanceType12Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesBalanceType12Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the securities or investment fund balance.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWAS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AvailableWithNoAdditionalStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of financial instruments that are freely available with no specific additional status.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityIdentification15">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification15</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ShortLong1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ShortLong1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the securities position is short or long, that is, wether the balance is a negative or positive balance.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SHOR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Short</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position is short, that is, the balance is negative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LONG">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Long</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Position is long, that is, the balance is positive.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Statement34">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Statement34</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Characteristics of the statement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="StmtId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference common to all pages of a statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StmtDtTm" type="DateAndDateTimeChoice_T2S_02">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Frqcy" type="Frequency10Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Frequency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Frequency of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UpdTp" type="UpdateType3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the statement is complete or contains changes only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StmtBsis" type="StatementBasis4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatementBasis</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of balance on which the statement is prepared.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ActvtyInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ActivityIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether there is activity or information update reported in the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="false" name="SubAcctInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubAccountIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the statement reports holdings at subsafekeeping account level.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatementBasis1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatementBasis1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of balances on which the statement is prepared.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SETT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">The statement is based on settled date positions to the knowledge of the sender at the time of the statement preparation.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatementBasis4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatementBasis4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the statement basis.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="StatementBasis1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Statement basis expressed as an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatementUpdateType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatementUpdateType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of a statement update, for example, it is a complete statement.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Complete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Statement is complete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DELT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Delta</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Statement contains changes only.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SubBalanceInformation10">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SubBalanceInformation10</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Net position of a segregated holding of a single security within the overall position held in the securities account, eg, sub-balance per status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SubBalTp" type="SubBalanceType7Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SubBalanceType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Qty" type="SubBalanceQuantity4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of securities in the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="AddtlBalBrkdwnDtls" type="AdditionalBalanceInformation10">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalBalanceBreakdownDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional instrument sub-balance information on all or parts of the reported financial instrument (unregistered, tax exempt, etc.).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubBalanceQuantity4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SubBalanceQuantity4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the balance information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="FinancialInstrumentQuantity15Choice_T2S_01">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity of securities in the sub-balance.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubBalanceType7Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SubBalanceType7Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the sub-balance.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SecuritiesBalanceType12Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason a security is not available or additional information about the financial instrument for which the balance is given, for example, unregistered, registered in nominee name.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification25_T2S_02">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason a security is not available or additional information about the financial instrument for which the balance is given, for example, unregistered, registered in nominee name.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SubBalanceType8Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SubBalanceType8Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the sub-balance.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="GenericIdentification25_T2S_01">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason a security is not available or additional information about the financial instrument for which the balance is given, for example, unregistered, registered in nominee name.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateType3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UpdateType3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the update information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="StatementUpdateType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates whether the report is complete or contains changes only.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
