xsd/v1/T2S_UDFS_2.0_head.002.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Generated by SWIFTStandards Workstation (build:R7.1.20.5) on 2012 Jan 23 14:13:57
Draft messages developed by the 4CBs - For internal use only - Not to be distributed.
-->
<!--
Copyright (c) SWIFT scrl, 2011 This schema is a component of the SWIFT Standards Developer Kit. 
			
This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.
			
This component is subject to the following terms of use: 
		
This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.
			
The user  has no right, or right to authorise others, to: 
- rent, lease, or sell this component; 
- display publicly, distribute or otherwise provide this component;
- remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices, marks or legends appearing in this physical medium.
			
Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors.
-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT2head.002.001.01"
    xmlns:ns1="http://www.w3.org/2000/09/xmldsig#"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT2head.002.001.01"
    elementFormDefault="qualified">
  <xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/2002/REC-xmldsig-core-20020212/xmldsig-core-schema.xsd"/>
  <xs:element name="Xchg" type="BusinessFileHeaderV01">
    <xs:annotation>
      <xs:documentation source="T2S-use">
In T2S the Business File Header is used for inbound and outbound communication. The exchanged type of the payload belongs always to the ISO 20022 family.

This message definition implements the coexistence rules. Some data types are restricted to ensure interoperability between ISO 15022 and 20022 users.                                                                            Last updated: 31/12/2013
      </xs:documentation>
      <xs:documentation source="T2S-BusinessRules">IIFV001;IIFV002;IIFV008;ICSA004;ICSA005;ICSA012</xs:documentation>
      <xs:documentation xml:lang="EN">BusinessFileHeaderV01</xs:documentation>
      <xs:documentation xml:lang="EN">
The BusinessFileHeader is exchanged between a system member (NCB, CSD or a directly connected party) and the system transaction adminstrator. The functions of a BusinessFileHeader supports are to:

• sum up different documents (messages) within one envelope;
• route the object exchanged to a destination;
• identify the object exchanged;
• describe the type of the object exchanged;
• give processing information to the receiving party.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ApplicationSpecifics1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">ApplicationSpecifics1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Application specific information defined by the service provider.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SysUsr" type="RestrictedFINXMax35Text" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">SystemUser</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">A system user is a user account defined in the static data. It represents an individual or an application that interacts with the system administrator (e. g. T2S), triggering the available functions. The set of functions available to each system user stems from the set of privileges for which the system user is grantee. System administrator does not provide any attribute for distinguishing between individuals and applications.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Sgntr" type="SignatureEnvelope" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Signature</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Contains the digital signature of the Business Entity authorised to sign this Business File.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TtlNbOfDocs" type="Number">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">TotalNumberOfDocuments</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Gives the total number of instances (messages) within the file.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BusinessFileHeaderV01">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">BusinessFileHeaderV01</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">
The BusinessFileHeader is exchanged between a system member (NCB, CSD or a directly connected party) and the system transaction adminstrator. The functions of a BusinessFileHeader supports are to:

•    sum up different documents (messages) within one envelope;

•	route the object exchanged to a destination;

•	identify the object exchanged;

•	describe the type of the object exchanged;

•	give processing information to the receiving party.
      </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PyldDesc" type="PayloadDescription1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">PayloadDescription</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Contains information about the payload.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Pyld" type="ExchangePayload1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Payload</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">File Payload is used to include the exchanged documents within the file structure.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExchangePayload1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">ExchangePayload1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">This component includes the exchanged ISO20022 documents.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any namespace="urn:iso:std:iso:20022:tech:xsd:head.003.001.01" processContents="lax">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Any</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">The respective ISO 20022 standard document.</xs:documentation>
        </xs:annotation>
      </xs:any>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="ISODateTime">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">
A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:dateTime">
      <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ManifestDetails1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">ManifestDetails1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Describes the related items or attachments (such as message types and number of messages types) within the file.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DocTp" type="MsgNmId_T2S_1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">DocumentType</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Specifies the type of items contained in the document set. An initial list of values can be found in the ISO20022 message type catalogue such as admi, camt, pacs , sese, semt etc. ISO messages.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="NbOfDocs" type="Number">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">NumberOfDocuments</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Gives the number of instances (messages) for each declared type.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="Max256Text_T2S_2">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Max256Text</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 256 characters.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ISO20022">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">ISO20022</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Exchanged payload  belongs to  ISO 20022 standard family</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:minLength value="1"/>
      <xs:maxLength value="256"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="MsgNmId_T2S_1">
    <xs:restriction base="xs:string">
      <xs:pattern value="[A-Za-z0-9\.]{15,15}"/>
      <xs:pattern value="[A-Za-z0-9\.]{15,15}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="Number">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">Number</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as an integer.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="18"/>
      <xs:fractionDigits value="0"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="PayloadDescription1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">PayloadDescription1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Contains information about the payload.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PyldDtls" type="PayloadDetails1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">PayloadDetails</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">This component is used to identify the instance of the document exchanged.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplSpcfcInf" type="ApplicationSpecifics1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">ApplicationSpecificInformation</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Contains business information that is considered as necessary by the service provider.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PyldTpDtls" type="PayloadTypeDetails1">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">PayloadTypeDetails</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Identification of the type of payload.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MnfstDtls" type="ManifestDetails1" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">ManifestDetails</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">
Manifest that describes the related items or attachments.

This block is repeated for each different type of item.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayloadDetails1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">PayloadDetails1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">This component identifies the instance of the document exchanged.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PyldIdr" type="RestrictedFINXMax16Text">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">PayloadIdentifier</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">String of characters that uniquely identifies the file, which was delivered by the sender.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreDtAndTm" type="ISODateTime">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">CreationDateAndTime</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Date and time when the file was created by the sender.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PssblDplctFlg" type="TrueFalseIndicator" minOccurs="0">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">PossibleDuplicateFlag</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">Flag indicating if the file exchanged between the two business applications is possibly a duplicate. If this indicator is not present within the message, please note that the default value would be "False".</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayloadTypeDetails1">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">PayloadTypeDetails1</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Identification of the type of payload.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Tp" type="Max256Text_T2S_2">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">
Declaration of the payload content. Describes the type of business document being exchanged.



When sending a copy or a duplicate of a previous document set, the document set identification must remain identical.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="RestrictedFINXMax16Text">
    <xs:annotation>
      <xs:documentation>RestrictedFINXMax16Text</xs:documentation>
      <xs:documentation>Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="16"/>
      <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]([0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ])?)*)"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RestrictedFINXMax35Text">
    <xs:annotation>
      <xs:documentation>RestrictedFINXMax35Text</xs:documentation>
      <xs:documentation>Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="35"/>
      <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="SignatureEnvelope">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">SignatureEnvelope</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">Technical Envelope for a Signature</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:any namespace="http://www.w3.org/2000/09/xmldsig#" processContents="strict">
        <xs:annotation>
          <xs:documentation source="Name" xml:lang="EN">XMLSignatures</xs:documentation>
          <xs:documentation source="Definition" xml:lang="EN">The XML signatures applied to the BusinessMessage</xs:documentation>
        </xs:annotation>
      </xs:any>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="TrueFalseIndicator">
    <xs:annotation>
      <xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
      <xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:boolean"/>
  </xs:simpleType>
</xs:schema>
