xsd/v1/T2S_UDFS_2.0_camt.076.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_camt.076
Usage Guideline: camt.076.001.01_T2S
Base Message: DRAFT2camt.076.001.01
Date of publication: 26 February 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_wqR_AIn1EeOlJKS1p63h1w/_me2O4JHOEeO8AZa8Y-tCFA
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-03-15T11:04:50+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT2camt.076.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT2camt.076.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification20Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification20Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification of the securities account or the cash account owned by the customer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="SctiesAcctId" type="SecuritiesAccount13">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identification of the securities account as assigned by the account servicer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CshAcctId" type="AccountIdentification4Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CashAccountIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identification of the cash account, as assigned by the account servicer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Othr" type="GenericAccountIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BillingIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BillingIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identifier of a the related Invoice</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BllgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BillingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique reference of a the related Invoice</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingReportRequestV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BillingReportRequestV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The BillingReportRequest message is sent by the system member to the system transaction administrator to request cumulative or itemised billing data. The billing data may be cumulative information or aggregated information on the level of a single securities or a dedicated cash account within a given period for each service item. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the characteristics specific to the message, such as the identification or the creation date and time.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="SchCrit" type="BillingSearchCriteria1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to be used to extract the billing data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="BillingSearchCriteria1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BillingSearchCriteria1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to be used to extract</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="BllgId" type="BillingIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BillingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the billing report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BllgPrd" type="DatePeriodDetails">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BillingPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General information for each invoice invoicing request or month end billing event is stored.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CSDOrNCB" type="CSDOrNCB1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CSDOrNCB</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party identification of the CSD or the NCB which has a contractual relationship with T2S party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BlldCstmrId" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BilledCustomerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Participant of the CSD or NCB who has to pay the bill in the end chain.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="AccountIdentification20Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Either securities account or dedicated cash account number.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CSDOrNCB1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CSDOrNCB1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a central securities depositary or a national central bank for querying party reference data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="CSDId" type="BICFIIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CSDIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the central security depository within the system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NCBId" type="BICFIIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NCBIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the national central bank within the system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DatePeriodDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DatePeriodDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of time defined by a start date and an end date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Start date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">End date of the range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="BllgRptReq" type="BillingReportRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINX2Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="QueryType2Code_T2S_8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender,, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqTp" type="RequestType2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="QueryType2Code_T2S_8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueryType2Code_T2S_8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
            <xs:enumeration value="CUMU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CumulativeBillingData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cumulative Billing Data Query Type</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ITEM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ItemisedBillingData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Itemised Billing Data Query Type</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestType2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Request type is in proprietary format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINX2Max34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINX2Max34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer.?</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
