xsd/v1/T2S_UDFS_2.0_camt.006.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_camt.006
Usage Guideline: camt.006.001.05_T2S
Base Message: DRAFT7camt.006.001.05
Date of publication: 10 February 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_-jpFgJDaEeOOJbFcWF2yBQ/48ecfb35-0fbf-4f72-9f89-183cb17d5562
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-04-02T08:56:51+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT7camt.006.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT7camt.006.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Othr" type="GenericAccountIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="18"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="ActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ActiveOrHistoricCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveOrHistoricCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme, as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Amount2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Amount2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between an amount with or without the currency. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AmtWthCcy" type="RestrictedFINActiveCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AmountWithCurrency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is explicit.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccount25">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccount25</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the details to identify an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="AccountIdentification4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ccy" type="ActiveOrHistoricCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the currency in which the account is held.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ownr" type="PartyIdentification43">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Owner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Svcr" type="BranchAndFinancialInstitutionIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Servicer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that manages the account on behalf of the account owner, that is manages the registration and booking of entries on the account, calculates balances on the account and provides information about the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashAccountAndEntry1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashAccountAndEntry1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Posting of an item to a cash account, in the context of a cash transaction, that results in an increase or decrease to the balance of the account. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Acct" type="CashAccount25">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Account</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a cash entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Ntry" type="CashEntry1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Entry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Posting of an item to a cash account, in the context of a cash transaction, that results in an increase or decrease to the balance of the account. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CashEntry1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CashEntry1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Posting of an item to a cash account, in the context of a cash transaction, that results in an increase or decrease to the balance of the account. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Amt" type="ActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money in the cash entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Dt" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date at which an entry is posted to an account on the account servicer's books.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier for an entry, as assigned by the account servicer. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CreditDebitCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditDebitCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is a decrease.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="RtrTx" type="ReturnTransactionV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the choice between the listed and the proprietary error codes.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="Max4AlphaNumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the error resulting from the processing of a request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Error</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded or proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FinancialInstitutionIdentification8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINX2Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="QueryType2Code_T2S_3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 5 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MsgPgntn" type="Pagination">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessagePagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Pagination of the message.
Usage: the pagination of the message is only allowed when agreed between the parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqTp" type="RequestType2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OrganisationIdentification8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OrganisationIdentification8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AnyBIC" type="AnyBICIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution or non financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalBusinessQuery1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the original requestor, to unambiguously identify the business query message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the original initiating party, to unambiguously identify the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Pagination</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number used to sequence pages when it is not possible for data to be conveyed in a single message and the data has to be split across several pages (messages).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPgInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the last page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Party11Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Party11Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Nature or use of the account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="OrgId" type="OrganisationIdentification8">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OrganisationIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification43">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification43</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a person or an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="Party11Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentIdentification4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentIdentification4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between ways of identifying a payment instruction by its references and business identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="PrtryId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique reference of the underlying payment instruction assigned by Target2 SSP.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentInstruction1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentInstruction1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details on the payment instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the original initiating party, to unambiguously identify the original payment transaction message
Usage: this is the former TransactionReference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Sts" type="PaymentStatus1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Detailed information about the status of a transfer.

</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrBkSttlmAmt" type="Amount2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterbankSettlementAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money moved between the instructing agent and the instructed agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="PaymentType3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type, or nature, of the payment, such as express payment.
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="GnrtdOrdr" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">GeneratedOrder</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is a liquidity transfer order that has been executed automatically following a predefined or standing order.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the first instructing agent, to unambiguously identify the transaction that is passed on, unchanged, throughout the entire interbank chain.&#13;
Usage: The transaction identification can be used for reconciliation, tracking or to link tasks relating to the transaction on the interbank level. The instructing agent has to make sure that the transaction identification is unique for a pre-agreed period.&#13;
Usage: This is the former PaymentInstructionReference.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="IntrBkSttlmDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterbankSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which the amount of money ceases to be available to the agent that owes it and when the amount of money becomes available to the agent to which it is due.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentStatus1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentStatus1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Payment status details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="PaymentStatusCode5Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of a transfer, in coded form, as  assigned by the transaction administrator.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentStatusCode5Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentStatusCode5Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a list of pending statuses or final statuses.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="RTGS" type="Max4AlphaNumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">RTGS</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Qualifies further the RTGS status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Sttlm" type="Max4AlphaNumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Settlement</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Qualifies further the settlement status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PaymentType3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentType3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a payment type from a predefined list and a proprietary payment type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="PaymentType3Code_T2S_1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Payment type that is not included in a predefined list.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PaymentType3Code_T2S_1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PaymentType3Code_T2S_1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type, or nature, of the liquidity transfer.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="LIQT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LiquidityTransfer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is made to transfer liquidity to/from the settlement account of a member, to/from the current account held at the central institution or any other institution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SETI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementInstruction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is based on a SecuritiesSettlementTransactionInstruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SETR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementRestriction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Payment is based on a Settlement Restriction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="QueryType2Code_T2S_3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">QueryType2Code_T2S_3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the query, that is, whether the query requests that all matching items be returned or only new matching items since the last similar query be returned.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CASP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CashPostingQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the requested return criteria for cash posting query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ILDQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ImmediateLTODetailQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the requested return criteria for  immediate LTO detail query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ILLQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ImmediateLTOListQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the requested return criteria for immediate LTO list query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestType2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Request type is in proprietary format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINX2Max34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINX2Max34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ReturnTransactionV05">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ReturnTransactionV05</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The ReturnTransaction message is used to provide information on transactions and booked entries held at the transaction administrator.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptOrErr" type="TransactionReportOrError1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports on transactions</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="System1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">System1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Search for a system and a member of a system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcctId" type="AccountIdentification4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Transaction24">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Transaction24</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to the payment transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtTo" type="System1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Destination of the payment (be it a member or a system or both).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PmtFr" type="System1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Origin of the payment (be it a member or a system or both).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the payment transaction is a debit or credit transaction. 
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pmt" type="PaymentInstruction1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Payment</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction to pay an amount of money to an ultimate beneficiary, on behalf of an originator. This instruction may have to be forwarded several times to complete the settlement chain.
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctNtry" type="CashAccountAndEntry1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountEntry</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Posting of an item to a cash account, in the context of a cash transaction, that results in an increase or decrease to the balance of the account. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionOrError1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionOrError1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between the transaction details or a business error when the requested data cannot be retrieved.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Tx" type="Transaction24">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Transaction</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Requested information on the payment transaction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="BizErr" type="ErrorHandling3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BusinessError</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason why the requested business information is not given.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReport1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionReport1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides details on the payment transactions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PmtId" type="PaymentIdentification4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the instruction related to the payment for which information is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TxOrErr" type="TransactionOrError1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Requested information on the payment transaction when information has not been found.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionReportOrError1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionReportOrError1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between transactions and booked entries held at the transaction administrator or an operational error when the requested data cannot be retrieved.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="BizRpt" type="Transactions5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BusinessReport</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reports on payment transactions.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OperationalError</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that an operational error has been issued during the processing of the related request.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Transactions5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Transactions5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reports on transactions.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="TxRpt" type="TransactionReport1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionReport</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reports either on the transaction information or on a business error.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
