xsd/v1/T2S_UDFS_2.0_semt.033.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_semt.033
Usage Guideline: semt.033.001.01_T2S
Base Message: DRAFT2semt.033.001.01
Date of publication: 17 February 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_WzPjkYzqEeOCYcf-u7C97Q/72c1cdcf-5a49-45ea-901d-9620dd7418be
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-03-26T14:38:36+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT2semt.033.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT2semt.033.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcknowledgedAcceptedStatus1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AcknowledgedAcceptedStatus1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountAndDirection8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AmountAndDirection8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Amount of money debited or credited on the books of an account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Amt" type="RestrictedFINActiveCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money in the cash entry.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CdtDbtInd" type="CreditDebitCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreditDebitIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether an entry is a credit or a debit.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationReason2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationReason2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The status of an instruction, advice or request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="CancellationReason3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction is cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional reason information that cannot be provided in a structured field.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationReason3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationReason3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the cancellation reason.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CancelledStatusReason5Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the related instruction is cancelled, or the related cancellation request is executed.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationStatus3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationStatus3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="CancellationReason2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the CancellationStatus.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason5Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancelledStatusReason5Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the underlying reason for the cancellation of the associated transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledByYourself</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is cancelled by yourself.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other. See Narrative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CreditDebitCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CreditDebitCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies if an operation is an increase or a decrease.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CRDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Credit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is an increase.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DBIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Debit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Operation is a decrease.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice_T2S_01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice_T2S_01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format, reduced to date for T2S.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndDateTimeChoice_T2S_02">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice_T2S_02</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format, reduced to date time for T2S.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="DtTm" type="ISODateTime">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">DateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodDetails">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriodDetails</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Time span defined by a start date and time, and an end date and time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeniedReason2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeniedReason2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The status of an instruction, advice or request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="DeniedReason2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the request has a denied status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional reason information that cannot be provided in a structured field.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeniedReason2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeniedReason2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the denied reason.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DeniedReason4Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the request was denied.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DeniedReason4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeniedReason4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the denied reason.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DCAN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeniedSinceAlreadyCancelled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation request was denied since the instruction has already been cancelled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeniedSinceAlreadySettled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation request was denied because the instruction was already settled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other. See Narrative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeniedStatus2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeniedStatus2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="DeniedReason2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the DeniedStatus.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesTxCxlReqRpt" type="SecuritiesTransactionCancellationRequestReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EventFrequency7Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EventFrequency7Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the regularity of an event.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="ADHO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Adhoc</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event takes place as necessary.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DAIL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Daily</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event takes place every day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INDA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntraDay</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Event takes place several times a day.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with an exact length of 4 digits</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
            <xs:enumeration value="0001">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reserved</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="0004">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Normal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="0003">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">High</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="0002">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Top</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="RestrictedFINDecimalNumber">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Frequency9Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Frequency9Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for a frequency, for example, the frequency of delivery of a statement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="EventFrequency7Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Frequency expressed as an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification19">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification19</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20_T2S_01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification20_T2S_01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">New type to restriction reference for fixed values within T2S.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="T2S" name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="RT" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification37_T2S_01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification37_T2S_01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification expressed as a proprietary type and narrative description.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax30Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IntraPosition4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPosition4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details of the intra-position movement.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments representing a sum of rights of the investor vis-a-vis the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmQty" type="FinancialInstrumentQuantity1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of securities to be settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmDt" type="DateAndDateTimeChoice_T2S_01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the securities are to be moved.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BalFr" type="SecuritiesSubBalanceTypeAndQuantityBreakdown1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance from which the securities are moving.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="BalTo" type="SecuritiesSubBalanceTypeAndQuantityBreakdown1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance to which the securities are moving.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesSubBalId" type="GenericIdentification37_T2S_01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesSubBalanceIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number identifying a lot constituting the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="PriorityNumeric1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is to be executed with a high priority.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionCancellation1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionCancellation1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the transactions in the report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="SystemPartyIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgSts" type="ProcessingStatus32Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status and status reason of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Cxl" type="IntraPositionCancellation2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cancellation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the individual transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionCancellation2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionCancellation2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the details of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="SystemPartyIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgSts" type="ProcessingStatus32Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status and status reason of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqRef" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the cancellation request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StsDt" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the status was assigned.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TxId" type="References14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">References of the transaction for which the intra-position modification is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Undrlyg" type="SettlementOrIntraPosition1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Underlying</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies additional details of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionReport1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionReport1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Characteristics of the report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="QryRef" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the settlement and intra-position query message sent to request this report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RptId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference common to all pages of a statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RptDtTm" type="DateAndDateTimeChoice_T2S_02">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time when the report was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RptPrd" type="Period2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportPeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Period for the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="QryTp" type="MovementResponseType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the type of query.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Frqcy" type="Frequency9Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Frequency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Frequency of the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UpdTp" type="UpdateType2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UpdateType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the statement is complete or contains changes only.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ActvtyInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ActivityIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether there is activity or information update reported in the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 5 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MovementResponseType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MovementResponseType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of movement response to be returned.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Full</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response will include full details on the movements reported.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STTS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response will include limited details including the status on the movements reported.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="NameAndAddress5_T2S_01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NameAndAddress5_T2S_01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a party. Restricted to name for coexistence.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NoReasonCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies that there is no reason available.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No reason to report or no reason available to report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Pagination">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Pagination</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number used to sequence pages when it is not possible for data to be conveyed in a single message and the data has to be split across several pages (messages).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPgInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the last page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification44Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification44Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification45Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification45Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PrtryId" type="GenericIdentification19">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identifier, as assigned to a financial institution using a proprietary identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="NmAndAdr" type="NameAndAddress5_T2S_01">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NameAndAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Name and address of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification45Choice_T2S_01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification45Choice_T2S_01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party, reduced to BIC for T2S.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification46">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification46</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of an entity involved in an activity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification44Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount44">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentificationAndAccount44</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Party and account details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification45Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentificationAndAccount44_T2S_01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentificationAndAccount44_T2S_01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Party and account details. Party identification reduced to BIC for T2S.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification45Choice_T2S_01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction for the party identified.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason15Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason15Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the pending reason.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="PendingReason9Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the cancellation request is pending.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason7">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason7</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the PendingStatus.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason15Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why a cancellation request sent for the related instruction is pending.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional reason information that cannot be provided in a structured field.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingReason9Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason9Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why a cancellation request sent for the related instruction is pending.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CONF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AwaitingConfirmation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Awaiting confirmation from the counterparty.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CDAC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConditionalDeliveryAwaitingCancellation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Awaiting cancellation of one of the party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingStatus11Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingStatus11Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingReason7">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the PendingStatus.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Period2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Period2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between date and datetime for the specification of a period.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDtTmToDtTm" type="DateTimePeriodDetails">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromDateTimeToDateTime</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Time span defined by a start date and time, and an end date and time.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriorityNumeric1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PriorityNumeric1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the priority.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Nmrc" type="Exact4NumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Numeric</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the execution priority of the instruction with a number between 0001 and 9999.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingStatus32Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProcessingStatus32Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the processing status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="PdgCxl" type="PendingStatus11Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PendingCancellation</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Cancellation is pending processing.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AcknowledgedAccepted</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Instruction has been acknowledged by the account servicer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Dnd" type="DeniedStatus2Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Denied</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Instruction/Request will not be executed.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Canc" type="CancellationStatus3Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Cancelled</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Cancellation requested executed.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Quantity6Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Quantity6Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the quantity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Qty" type="FinancialInstrumentQuantity1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Quantity</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instrument in units, original face amount or current face amount.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="References14">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">References14</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">References of the original instruction for which an action has been requested.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwnerTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account owner (or the instructing party managing the account).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicerTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a transaction assigned by a market infrastructure other than a central securities depository, for example, Target2-Securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessorTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the transaction as assigned by the processor.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINActiveCurrencyAndAmount_SimpleType">
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RestrictedFINActiveCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINActiveCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A number of monetary units specified in an active currency where the unit of currency is explicit and compliant with ISO 4217.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="RestrictedFINActiveCurrencyAndAmount_SimpleType">
                <xs:attribute name="Ccy" type="ActiveCurrencyCode" use="required">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Currency</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Medium of exchange of value.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINDecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, for example, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax210Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax210Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 210 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,210}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax30Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax30Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 30 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer.?</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesBalanceType11Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesBalanceType11Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the securities or investment fund balance.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWAS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AvailableWithNoAdditionalStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of financial instruments that are freely available with no specific additional status.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesBalanceType3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesBalanceType3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the balance type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SecuritiesBalanceType11Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Sub-balance expressed as an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification20_T2S_01">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Sub-balance expressed as a proprietary code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesSubBalanceTypeAndQuantityBreakdown1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesSubBalanceTypeAndQuantityBreakdown1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Quantity breakdown information for a specific securities balance.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="SecuritiesBalanceType3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the securities sub balance type indicator (example restriction type for a market infrastructure).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesTransactionCancellationRequestReportV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesTransactionCancellationRequestReportV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The SecuritiesTransactionCancellationRequestReport message is sent from a settlement infrastructure to an account owner/requestor to provide full details or current status values of settlement or the intra-position movement cancellation request(s), as defined within the query.&#13;
&#13;&#13;
The message may also be used to: &#13;&#13;
- re-send a message previously sent (the sub-function of the message is "Duplicate") &#13;&#13;
- provide a third party with a copy of a message for information (the sub-function of the message is "Copy") &#13;&#13;
- re-send to a third party a copy of a message for information (the sub-function of the message is "Copy Duplicate"). </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Pgntn" type="Pagination">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Pagination of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptGnlDtls" type="IntraPositionReport1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportGeneralDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General characteristics related to the report information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Cxls" type="IntraPositionCancellation1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Cancellations</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Report on the transaction cancellation requests.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification14</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementDate1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementDate1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the settlement date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice_T2S_01">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date in ISO format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementOrIntraPosition1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementOrIntraPosition1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between the intra-position movement or the settlement transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="IntraPosMvmnt" type="IntraPosition4">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IntraPositionMovement</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the requested intra-position movement details.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SttlmTx" type="TransactionDetails52">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SettlementTransaction</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the requested settlement transaction details.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementParties13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementParties13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Chain of parties involved in the settlement of a transaction, including receipts and deliveries, book transfers, treasury deals, or other activities, resulting in the movement of a security or amount of money from one account to another.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="Dpstry" type="PartyIdentification46">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Depository</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">First party in the settlement chain. In a plain vanilla settlement, it is the Central Securities Depository where the counterparty requests to receive the financial instrument or from where the counterparty delivers the financial instruments.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty1" type="PartyIdentificationAndAccount44_T2S_01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party1</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that, in a settlement chain interacts with the depository.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty2" type="PartyIdentificationAndAccount44">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party2</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that, in a settlement chain interacts with the party 1.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty3" type="PartyIdentificationAndAccount44">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party3</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that, in a settlement chain interacts with the party 2.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty4" type="PartyIdentificationAndAccount44">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party4</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that, in a settlement chain interacts with the party 3.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Pty5" type="PartyIdentificationAndAccount44">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Party5</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that, in a settlement chain interacts with the party 4.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="StatementUpdateType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatementUpdateType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of a statement update, for example, it is a complete statement.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="COMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Complete</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Statement is complete.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DELT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Delta</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Statement contains changes only.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemPartyIdentification5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemPartyIdentification5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify a system party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RltdPtyId" type="PartyIdentification46">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedPartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party referenced by a request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnsblPtyId" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsiblePartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party responsible for the maintenance of the party reference data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TradeDate1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TradeDate1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the trade date.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="DateAndDateTimeChoice_T2S_01">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date expressed as a ISO date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TransactionDetails52">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TransactionDetails52</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the details of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments representing a sum of rights of the investor vis-a-vis the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmQty" type="Quantity6Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of securities to be settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttlmAmt" type="AmountAndDirection8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total amount of money to be paid or received in exchange for the securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="TradDt" type="TradeDate1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date/time on which the trade was executed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmDt" type="SettlementDate1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the securities are to be delivered or received.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="DlvrgSttlmPties" type="SettlementParties13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeliveringSettlementParties</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the chain of delivering settlement parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RcvgSttlmPties" type="SettlementParties13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReceivingSettlementParties</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the chain of receiving settlement parties.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="UpdateType2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">UpdateType2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the update information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="StatementUpdateType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates whether the report is complete or contains changes only.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
