xsd/v1/T2S_UDFS_2.0_reda.026.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_reda.026
Usage Guideline: reda.026.001.01_T2S
Base Message: DRAFT4reda.026.001.01
Date of publication: 21 February 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_Rh8ehIzpEeOCYcf-u7C97Q/5a554e6b-9622-49ae-9a15-08858cc8dcf4
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-04-01T12:49:49+00:00
-->
<!---->
<xs:schema xmlns="urn:eurosystem:xsd:DRAFT4reda.026.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:eurosystem:xsd:DRAFT4reda.026.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="ElgblCntrptCSDCreReq" type="EligibleCounterpartCSDCreationRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification11">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification11</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification and creation date of a document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the document (message) assigned by the sender of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EligibilityIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EligibilityIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the eligibility details.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Ctry" type="CountryCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Country code used to identify the issuance country to be defined as eligible.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FinInstrmId" type="ISINIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">ISIN  used to identify the security to be defined as eligible.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IssrCSDId" type="SystemPartyIdentification1Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IssuerCSDIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Issuer CSD identification used to identify the securities to be defined as eligible.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EligibilityType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EligibilityType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of eligibility.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SECU">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Securities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Eligiblity applies at securities level.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISCS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuerCSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Eligibility applies at the level of issuer CSD.&#13;
All of the securities issued by the issuer CSD are eligible.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CTRY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Eligibility applies at country level.&#13;
All of the securities issued in that country are eligible.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="EligibleCounterpart1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EligibleCounterpart1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Represents a party to be identified as eligible for the instructing party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="IssrId" type="SystemPartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuerIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique business identifier code used to identify the party providing the eligible counterpart information</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ElgblCntrptId" type="SystemPartyIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EligibleCounterpartIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique business identifier code used to identify the central securities depository to be defined as eligible.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VldFr" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date from when the eligible counterpart is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VldTo" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date until when the eligible counterpart is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ElgbltyTp" type="EligibilityType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EligibilityType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the type of eligibility.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ElgbltyId" type="EligibilityIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EligibilityIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the eligible counterpart party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EligibleCounterpartCSDCreationRequestV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">EligibleCounterpartCSDCreationRequestV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The EligibleCounterpartCSDCreationRequest message is sent by an instructing party to the  executing party to request for the creation of an eligible counterpart CSD in the executing system collateral management reference data.

Usage:
It aims at instructing the creation of a new eligible counterpart CSD with corresponding details.
Processing and confirmation of the eligible counterpart CSD creation request message are provided via a collateral management status advice.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="DocumentIdentification11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference elements, as assigned by the instructing party, to unambiguously identify the creation request message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ElgblCntrptCSD" type="EligibleCounterpart1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EligibleCounterpartCSD</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Represents a party to be identified as eligible for the instructing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification71Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification71Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between different formats for the identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemPartyIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemPartyIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between an identification of a party or a combination of the responsible party identification and the business identifier.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="OrgId" type="PartyIdentification71Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OrganisationIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Provides the identification of a party.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CmbndId" type="SystemPartyIdentification3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">CombinedIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identifies the party with the combined identification of both the responsible entity and the party itself.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemPartyIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemPartyIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the party within the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RltdPtyId" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedPartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the party within the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RspnsblPtyId" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsiblePartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party responsible for the maintenance of the party reference data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
