xsd/head.001.001.01_UDFS_2.0_T2S.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
Version 01.00.00
			
			Copyright (c) SWIFT scrl, 2010. Enriched Schema, a component of the SWIFT Standards Developer Kit. 
			
			This is a licensed product, which may only be redistributed upon agreement with SWIFT scrl.
			
			This component is subject to the following terms of use: 
			
			This component is provided ‘AS IS’. SWIFT does not give and excludes any express or implied warranties with respect to this 
			component such as but not limited to any guarantee as to its quality, supply or availability.
			
			The user  has no right, or right to authorise others, to: 
			• rent, lease, or sell this component; 
			• display publicly, distribute or otherwise provide this component;
			• remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary 
			rights notices, marks or legends appearing in this physical medium.
			
			Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual property 
			rights of whatever nature in this component will remain the exclusive property of SWIFT or its licensors.
-->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:head.001.001.01" xmlns:ns1="http://www.w3.org/2000/09/xmldsig#" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:iso:std:iso:20022:tech:xsd:head.001.001.01" elementFormDefault="qualified">
	<xs:import namespace="http://www.w3.org/2000/09/xmldsig#" schemaLocation="http://www.w3.org/TR/2002/REC-xmldsig-core-20020212/xmldsig-core-schema.xsd"/>
	<xs:element name="AppHdr" type="BusinessApplicationHeaderV01">
		<xs:annotation>
			<xs:documentation source="T2S-use">This message definition implements the coexistence rules. Some data 	types are restricted to ensure interoperability between ISO 15022 and 20022 users.                                                                               Last updated: 11/02/2014</xs:documentation>
			<xs:documentation source="T2S-BusinessRules">
ICSA004;IICP001;IICP002; ICSA005;DCC1001;DCC4001; DCU1001;DCU4001;DPC2001; DPD1001;DPR1001;DPU1001;DRD9001;DRU9001;DAC1001
DAD1001;DAR1001;DAU1001;DSC2001;DSC3001;DSD1001;DSR1001;DSU1001;IIMP097;IIMP098; IIMP099;IIMP066;MVCP052;MVCP053;MVCP054;MVCP055;MVCP056;MVCP057;MVCP058;MVCP059;MVCP060;MVCP061
MVCP062;MVCP063;MVCP064;MVCP065;MVCP066;MVCP067;MVCP068;MVCP069;MVCP070;MVCP071
MVCP072;MVCP073;MVCP074;MVCP075;MVCP076;MVCP077;MVCP078;MVCP079;MVCP080;MVCP081
MVCP082;MVCP083;MVCP084;MVCP085;MVCP086;MVCP087;MVCP088;MVCP089;MVCP090;MVCP091
MVCP092;MVCP09;MVCP094;MVCP095;MVCP104;MVCP105;MVCP106;MVCP107;MVCP108;MVCP109
MVCP110;MVCP111;MVCP112;MVCP113;MVCP114;MVCP115;MVCP116;MVCP117;MVCP118;MVCP119
MVCP120;MVCP120;MVCP121;MVCP122;MVCP128;IIMS001;IIMS002
      </xs:documentation>
			<xs:documentation source="Name" xml:lang="EN">BusinessApplicationHeaderV01</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">The Business Layer deals with Business Messages. The behaviour of the Business Messages is fully described by the Business Transaction and the structure of the Business Messages is fully described by the Message Definitions and related Message Rules, Rules and Market Practices. All of which are registered in the ISO 20022 Repository.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:simpleType name="BICFIIdentifier">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification8">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BranchAndFinancialInstitutionIdentification5_T2S_4">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FinInstnId" type="FinancialInstitutionIdentification8_T2S_4">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessApplicationHeader1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BusinessApplicationHeader1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">
Specifies the Business Application Header of the Business Message.

Can be used when replying to a query;  can also be used when canceling or amending.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Fr" type="Party9Choice_T2S_1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">From</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">
The sending MessagingEndpoint that has created this Business Message for the receiving MessagingEndpoint that will process this Business Message.



Note	the sending MessagingEndpoint might be different from the sending address potentially contained in the transport header (as defined in the transport layer).
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="To" type="Party9Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">To</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">
The MessagingEndpoint designated by the sending MessagingEndpoint to be the recipient who will ultimately process this Business Message.



Note the receiving MessagingEndpoint might be different from the receiving address potentially contained in the transport header (as defined in the transport layer).
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BizMsgIdr" type="RestrictedFINXMax16Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BusinessMessageIdentifier</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unambiguously identifies the Business Message to the MessagingEndpoint that has created the Business Message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MsgDefIdr" type="RestrictedFINXMax16Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageDefinitionIdentifier</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">
Contains the MessageIdentifier that defines the BusinessMessage.

It must contain a MessageIdentifier published on the ISO 20022 website.



example	camt.001.001.03
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreDt" type="ISONormalisedDateTime">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CreationDate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">
Date and time when this Business Message (header) was created.

Note    Times must be normalized, using the "Z" annotation.
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CpyDplct" type="CopyDuplicate1Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Indicates whether the message is a Copy, a Duplicate or a copy of a duplicate of a previously sent ISO 20022 Message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PssblDplct" type="YesNoIndicator" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">PossibleDuplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">
Flag indicating if the Business Message exchanged between the MessagingEndpoints is possibly a duplicate. 

If the receiving MessagingEndpoint  did not receive the original, then this Business Message should be processed as if it were the original. 



If the receiving MessagingEndpoint did receive the original, then it should perform necessary actions to avoid processing this Business Message again.



This will guarantee business idempotent behaviour.



NOTE: this is named "PossResend" in FIX - this is an application level resend not a network level retransmission
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prty" type="Max16NumericText_T2S" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Relative indication of the processing precedence of the message over a (set of) Business Messages with assigned priorities.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sgntr" type="SignatureEnvelope" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Signature</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Contains the digital signature of the Business Entity authorised to sign this Business Message.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BusinessApplicationHeaderV01">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">BusinessApplicationHeaderV01</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">
The Business Layer deals with Business Messages. The behaviour of the Business Messages is fully described by the Business Transaction and the structure of the Business Messages is fully described by the Message Definitions and related Message Rules, Rules and Market Practices. All of which are registered in the ISO 20022 Repository.

A single new Business Message (with its accompagnying business application header) is created - by the sending MessagingEndpoint - for each business event; that is each interaction in a Business Transaction. A Business Message adheres to the following principles:

" A Business Message (and its business application header) must not contain information about the Message Transport System or the mechanics or mechanism of message sending, transportation, or receipt. 

" A Business Message must be comprehensible outside of the context of the Transport Message. That is the Business Message must not require knowledge of the Transport Message to be understood.

" A Business Message may contain headers, footers, and envelopes that are meaningful for the business. When present, they are treated as any other message content, which means that they are considered part of the Message Definition of the Business Message and as such will be part of the ISO 20022 Repository.

" A Business Message refers to Business Actors by their Name. Each instance of a Business Actor has one Name. The Business Actor must not be referred to in the Transport Layer.

Specific usage of this BusinessMessageHeader may be defined by the relevant SEG.
      </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Fr" type="Party9Choice_T2S_1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">From</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">
The sending MessagingEndpoint that has created this Business Message for the receiving MessagingEndpoint that will process this Business Message.



Note	the sending MessagingEndpoint might be different from the sending address potentially contained in the transport header (as defined in the transport layer).
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="To" type="Party9Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">To</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">
The MessagingEndpoint designated by the sending MessagingEndpoint to be the recipient who will ultimately process this Business Message.



Note the receiving MessagingEndpoint might be different from the receiving address potentially contained in the transport header (as defined in the transport layer).
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BizMsgIdr" type="RestrictedFINXMax16Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BusinessMessageIdentifier</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unambiguously identifies the Business Message to the MessagingEndpoint that has created the Business Message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MsgDefIdr" type="MsgNmId_T2S_1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MessageDefinitionIdentifier</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">
Contains the MessageIdentifier that defines the BusinessMessage.

It must contain a MessageIdentifier published on the ISO 20022 website.



example	camt.001.001.03
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreDt" type="ISONormalisedDateTime">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CreationDate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">
Date and time when this Business Message (header) was created.

Note    Times must be normalized, using the "Z" annotation.
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CpyDplct" type="CopyDuplicate1Code" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Indicates whether the message is a Copy, a Duplicate or a copy of a duplicate of a previously sent ISO 20022 Message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PssblDplct" type="YesNoIndicator" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">PossibleDuplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">
Flag indicating if the Business Message exchanged between the MessagingEndpoints is possibly a duplicate. 

If the receiving MessagingEndpoint  did not receive the original, then this Business Message should be processed as if it were the original. 



If the receiving MessagingEndpoint did receive the original, then it should perform necessary actions to avoid processing this Business Message again.



This will guarantee business idempotent behaviour.



NOTE: this is named "PossResend" in FIX - this is an application level resend not a network level retransmission
          </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prty" type="Max16NumericText_T2S" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Relative indication of the processing precedence of the message over a (set of) Business Messages with assigned priorities.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Sgntr" type="SignatureEnvelope" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Signature</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Contains the digital signature of the Business Entity authorised to sign this Business Message.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rltd" type="BusinessApplicationHeader1" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Related</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">
Specifies the Business Application Header of the Business Message to which this Business Message relates.

Can be used when replying to a query;  can also be used when canceling or amending.
          </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemIdentification2Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification2Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Choice of a clearing system identifier.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="Prtry" type="RestrictedFINXMax35Text" fixed="T2S">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
						<xs:documentation source="Definition" xml:lang="EN">Identification code for a clearing system, that has not yet been identified in the list of clearing systems.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClearingSystemMemberIdentification2">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification2</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by a clearing system, to unambiguously identify a member of the clearing system.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ClrSysId" type="ClearingSystemIdentification2Choice">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ClearingSystemIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Specification of a pre-agreed offering between clearing agents or the channel through which the payment instruction is processed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MmbId" type="RestrictedFINXMax35Text">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">MemberIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Identification of a member of a clearing system.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="CopyDuplicate1Code">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">CopyDuplicate1Code</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies if this document is a copy, a duplicate, or a duplicate of a copy.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CODU">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">CopyDuplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message is being sent as a copy to a party other than the account owner, for information purposes and the message is a duplicate of a message previously sent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="COPY">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Copy</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message is being sent as a copy to a party other than the account owner, for information purposes.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="DUPL">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Duplicate</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Message is for information/confirmation purposes. It is a duplicate of a message previously sent.</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FinancialInstitutionIdentification8">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BICFI" type="BICFIIdentifier">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Othr" type="GenericFinancialIdentification1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique identification of an agent, as assigned by an institution, using an identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialInstitutionIdentification8_T2S_4">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BICFI" type="BICFIIdentifier">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClrSysMmbId" type="ClearingSystemMemberIdentification2" minOccurs="0">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">ClearingSystemMemberIdentification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Information used to identify a member within a clearing system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Othr" type="GenericFinancialIdentification1">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique identification of an agent, as assigned by an institution, using an identification scheme.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="GenericFinancialIdentification1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">GenericFinancialIdentification1</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Id" type="BICFIIdentifier">
				<xs:annotation>
					<xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
					<xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a person.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ISONormalisedDateTime">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">ISONormalisedDateTime</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">an ISODateTime whereby all timezoned dateTime values are UTC.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[Z]"/>			
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Max16NumericText_T2S">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Max5NumericText</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 5 digits.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{1,16}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="MsgNmId_T2S_1">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Za-z0-9\.]{15,15}"/>
			<xs:pattern value="[A-Za-z0-9\.]{15,15}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Party9Choice">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Party9Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Identification of a person, an organisation or a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification5">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
						<xs:documentation source="Definition" xml:lang="EN">Identification of a financial institution.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party9Choice_T2S_1">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">Party9Choice</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Identification of a person, an organisation or a financial institution.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice>
				<xs:element name="FIId" type="BranchAndFinancialInstitutionIdentification5_T2S_4">
					<xs:annotation>
						<xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
						<xs:documentation source="Definition" xml:lang="EN">Identification of a financial institution.</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="RestrictedFINXMax16Text">
		<xs:annotation>
			<xs:documentation>RestrictedFINXMax16Text</xs:documentation>
			<xs:documentation>Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="16"/>
			<xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]([0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,&apos;\+ ])?)*)"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RestrictedFINXMax35Text">
		<xs:annotation>
			<xs:documentation>RestrictedFINXMax35Text</xs:documentation>
			<xs:documentation>Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="35"/>
			<xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,&apos;\+ ]{1,35}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SignatureEnvelope">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">SignatureEnvelope</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Technical Envelope for a Signature</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:any namespace="http://www.w3.org/2000/09/xmldsig#" processContents="strict"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="YesNoIndicator">
		<xs:annotation>
			<xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
			<xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:boolean"/>
	</xs:simpleType>
</xs:schema>
