xsd/t2s.SecuritiesAccountListResponse.DRAFT6reda.021.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_reda.021
Usage Guideline: reda.021.001.01_T2S
Base Message: DRAFT6reda.021.001.01
Date of publication: 21 February 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_Q2pexIzpEeOCYcf-u7C97Q/36bf76bd-1e75-4445-8e51-849126fcaa31
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-08-20T08:03:24+00:00
-->
<!---->
<xs:schema xmlns="urn:eurosystem:xsd:DRAFT6reda.021.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:eurosystem:xsd:DRAFT6reda.021.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesAcctRpt" type="SecuritiesAccountReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the choice between the listed and the proprietary error codes.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="Exact4AlphaNumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the error resulting from the processing of a request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Error</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded or proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketSpecificAttribute1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MarketSpecificAttribute1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines additional attributes for party reference data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the name of the market-specific attribute.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Val" type="RestrictedFINXMax350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Value</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the value of the market-specific attribute.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max5NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 5 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalBusinessQuery1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the original requestor, to unambiguously identify the business query message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the original initiating party, to unambiguously identify the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Pagination">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Pagination</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number used to sequence pages when it is not possible for data to be conveyed in a single message and the data has to be split across several pages (messages).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPgInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the last page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,350}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer.?</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccountOrBusinessError1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountOrBusinessError1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to report between the securities account reference data or a business error.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="SctiesAcct" type="SystemSecuritiesAccount3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Choice between data concerning securities account retrieved or business error.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="BizErr" type="ErrorHandling3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BusinessError</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Business error resulting from a rejection.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccountOrOperationalError1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountOrOperationalError1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to report between the securities account reference data or an operational error.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="SctiesAcctRpt" type="SecuritiesAccountReport1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountReport</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Report information about securities account reference data.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OperationalError</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Operational error resulting from a rejection.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccountReport1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountReport1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to report information about securities account reference data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SctiesAcctId" type="SecuritiesAccount13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SctiesAcctOrErr" type="SecuritiesAccountOrBusinessError1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the returned securities account reference data or error information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesAccountReportV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccountReportV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Message containing detailed information about securities account reference data.

Scope and usage:
Executing party sends a securities account report message to provide a CSD, NCB, CSD participant, payment bank with requested securities account reference data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference elements, as assigned by the instructing party, to unambiguously identify the report message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Pgntn" type="Pagination">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the page number of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptOrErr" type="SecuritiesAccountOrOperationalError1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information on report or error resulting from the originating query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemPartyIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemPartyIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the party within the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RltdPtyId" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedPartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the party within the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RspnsblPtyId" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsiblePartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party responsible for the maintenance of the party reference data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SystemPartyType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemPartyType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of the party within a system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSDY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CentralSecuritiesDepository</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Infrastructure that holds or controls the holding of physical or dematerialised financial instruments belonging to all, or a large portion of, the investors in a securities market. This effects the centralised transfer of ownership of such securities by entries on its books and records.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NCBK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NationalCentralBank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">As system participant, the national central bank is the principal monetary authority of a nation and performs several key functions, including issuing currency and regulating the supply of credit in the economy.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PMBK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentBank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">National central bank or a private bank used to settle the cash leg of securities settlements: it provides the cash account to support the settlement of the securities transactions of another financial institution in central bank money (CeBM).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSDP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CentralSecuritiesDepositoryParticipant</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Participant of a central securities depositary defined within the system, for which the account holder is the central securities depository.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ECSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExternalCentralSecuritiesDepository</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Infrastructure that holds or controls the holding of physical or dematerialised financial instruments belonging to all, or a large portion of, the investors in a securities market. This effects the centralised transfer of ownership of such securities by entries on its books and records.&#13;
The infrastructure is external to the system executing the instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemRestriction1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemRestriction1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information on the system restriction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="VldFr" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date from which the restriction is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VldTo" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date until which the restriction is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the identification of a restriction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemSecuritiesAccount3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemSecuritiesAccount3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.&#13;
It holds information such as opening and closing date and whether it can hold negative positions.&#13;
Definition of the entity includes the default setting for holding of settlement instructions involving positions related to the account.&#13;
Set of market specific attributes define specific properties for the account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OpngDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OpeningDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal opening date for the securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsgDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClosingDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Legal closing date for the securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="HldInd" type="TrueFalseIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HoldIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Meaning when true : Account is in Hold status.&#13;
Meaning when false : Account is in Release status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="NegPos" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NegativePosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the securities account can hold a negative position in a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="SystemSecuritiesAccountType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of the securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctOwnr" type="SystemPartyIdentification3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PtyTp" type="SystemPartyType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of the party owning the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MktSpcfcAttr" type="MarketSpecificAttribute1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketSpecificAttribute</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional attributes defined by a central security depositary for a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rstrctn" type="SystemRestriction1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Restriction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the specific processing characteristics for a securities account  to ensure configurability of specific requirements, as prescribed by national legal and regulatory requirements and practices.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="EndInvstrFlg" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EndInvestorFlag</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies information to identify securities accounts where allocation instructions are posted.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PricgSchme" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PricingScheme</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines how the price is applied to the securities account.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SystemSecuritiesAccountType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemSecuritiesAccountType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Lists the type of the securities account specific for a system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSDP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CSDParticipantAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account owned by a CSD Participant
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSDM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CSDMirrorAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account operated by CSD for mirroring positions
</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ICSA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InterCSDAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account operated by CSD for settlement of securities legs for instructions involving internal CSD s.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TOFF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TechnicalOffsetAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account operated by CSDs in a direct holding market context</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSDO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CSDOmnibusAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account operated by CSD in cross-CSD settlement context.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ISSA">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssuanceAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account reflecting the holdings of the participants of the issuer CSD for a given financial instrument</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="TrueFalseIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TrueFalseIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A flag indicating a True or False value.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
