xsd/t2s.CollateralDataStatusAdvice.DRAFT4reda.028.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_reda.028
Usage Guideline: reda.028.001.01_T2S
Base Message: DRAFT4reda.028.001.01
Date of publication: 21 February 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_Roo8ZozpEeOCYcf-u7C97Q/abd10924-2c1d-45d5-9179-6a28a910e93a
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-08-20T08:07:10+00:00
-->
<!---->
<xs:schema xmlns="urn:eurosystem:xsd:DRAFT4reda.028.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:eurosystem:xsd:DRAFT4reda.028.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="CollateralDataStatusAdviceV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralDataStatusAdviceV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The CollateralDataStatusAdvice message is sent by the executing party to an instructing party (the requestor) to provide information of a request on collateral management reference data.

Usage: 
It aims at informing about the status of the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="DocumentIdentification11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference elements, as assigned by the instructing party, to unambiguously identify the status advice message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrgnlMsgId" type="DocumentIdentification11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalMessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference elements, as assigned by the original instructing party, to unambiguously identify the original message for which the status is sent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StsRsn" type="CollateralStatusReason1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for the status report.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CollateralStatusReason1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CollateralStatusReason1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Business status of the collateral data management request for processing in the system. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Sts" type="Status6Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status of the collateral data maintenance instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rsn" type="StatusReasonInformation10">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reason for the status of a collateral data maintenance instruction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="CollDataStsAdvc" type="CollateralDataStatusAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification11">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification11</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification and creation date of a document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the document (message) assigned by the sender of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Status6Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Status6Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the status of an instruction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="REJT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has been rejected.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="COMP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Completed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Processing has been completed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="QUED">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Queued</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction is queued.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="StatusReason6Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatusReason6Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for the status of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="Exact4AlphaNumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Reason for the status, in a proprietary form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="StatusReasonInformation10">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">StatusReasonInformation10</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information on the status reason of the instruction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Rsn" type="StatusReason6Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for the status report.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Further details on the status reason.

Usage: Additional information can be used for several purposes such as the reporting of repaired information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
