xsd/t2s.GetLimit.DRAFT6camt.009.001.05.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_camt.009
Usage Guideline: camt.009.001.05_T2S
Base Message: DRAFT6camt.009.001.05
Date of publication: 05 March 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_-_xA0JDaEeOOJbFcWF2yBQ/d06c6aec-8ad9-4b0b-8e82-6f43665cab86
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-08-12T10:37:31+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT6camt.009.001.05" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT6camt.009.001.05">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AccountIdentification4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AccountIdentification4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the unique identification of an account as assigned by the account servicer.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Othr" type="GenericAccountIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique identification of an account, as assigned by the account servicer, using an identification scheme.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ActiveCurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ActiveCurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A code allocated to a currency by a Maintenance Agency under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="AmountRange2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AmountRange2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a range of amount values with or without the currency. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="ImpldCcyAndAmtRg" type="ImpliedCurrencyAndAmountRange">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ImpliedCurrencyAndAmountRange</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Expresses an amount or an amount range with an explicit debit/credit indicator and where the currency is implied.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AmountRangeBoundary1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AmountRangeBoundary1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Limit for an amount range.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BdryAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BoundaryAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount value of the range limit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Incl" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Included</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the boundary amount is included in the range of amount values.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="BranchAndFinancialInstitutionIdentification5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BranchAndFinancialInstitutionIdentification5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to uniquely and unambiguously identify a financial institution or a branch of a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstnId" type="FinancialInstitutionIdentification8">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a financial institution, as assigned under an internationally recognised or proprietary identification scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateAndPeriod2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndPeriod2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date and period.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrDt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromDate</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Date at which the range starts.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="GetLmt" type="GetLimitV05"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
            <xs:enumeration value="LIMI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit Query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UTIL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitUtilisationQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit Utilisation Query.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstitutionIdentification8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstitutionIdentification8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of elements used to identify a financial institution.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BICFI" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BICFI</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FromToAmountRange">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FromToAmountRange</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of amount values.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrAmt" type="AmountRangeBoundary1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Lower boundary of a range of amount values.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ToAmt" type="AmountRangeBoundary1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Upper boundary of a range of amount values.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="FromToPercentageRange1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FromToPercentageRange1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Range of percentage rates.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Fr" type="PercentageRangeBoundary1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">From</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Lower boundary of a range of percentage rates.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="To" type="PercentageRangeBoundary1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">To</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Upper boundary of a range of percentage rates.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericAccountIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericAccountIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a generic account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINX2Max34Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, eg, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification assigned by an institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="T2S" maxOccurs="1" minOccurs="0" name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GetLimitV05">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GetLimitV05</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The GetLimit message is used to request information on the details of one or more limits set by the member (or on behalf of the member) and managed by the transaction administrator.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Common business identification for the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LmtQryDef" type="LimitQuery1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitQueryDefinition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the limit query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ImpliedCurrencyAmountRangeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ImpliedCurrencyAmountRangeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between ranges of values in which an amount is considered valid or a specified amount value which has to be matched or unmatched to be valid.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="FrAmt" type="AmountRangeBoundary1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Lower boundary of a range of amount values.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ToAmt" type="AmountRangeBoundary1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ToAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Upper boundary of a range of amount values.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FrToAmt" type="FromToAmountRange">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromToAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Range of valid amount values.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="EQAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">EqualAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Exact value an amount must match to be considered valid.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ImpliedCurrencyAndAmountRange">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ImpliedCurrencyAndAmountRange</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Expresses an amount or an amount range with an explicit debit/credit indicator and where the currency is implied.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Amt" type="ImpliedCurrencyAmountRangeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Amount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">A specified amount or amount range.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LimitCriteria3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LimitCriteria3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to extract the limit information and the expected limit report. A name may be given to the new query.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SchCrit" type="LimitSearchCriteria3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SearchCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the criteria to extract the limit information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LimitCriteria3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LimitCriteria3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the information that is searched either implicitly by recalling a previous query or explicitly by defining the criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NewCrit" type="LimitCriteria3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NewCriteria</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Defines the criteria based on which the information is extracted.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LimitQuery1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LimitQuery1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the query criteria.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="LmtCrit" type="LimitCriteria3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitCriteria</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the limit query criteria.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LimitSearchCriteria3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LimitSearchCriteria3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the criteria used to search for a limit.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="BilLmtCtrPtyId" type="BranchAndFinancialInstitutionIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BilateralLimitCounterpartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification of a member within a system, assigned using the member identification scheme of the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CurLmtTp" type="LimitType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CurrentLimitType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of limit applied by the system at the present time.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctId" type="AccountIdentification4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous identification for the account between the account owner and the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UsdAmt" type="AmountRange2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UsedAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Actual usage of the limit expressed as an amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="UsdPctg" type="PercentageRange1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UsedPercentage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Actual usage of the limit expressed as a percentage.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LmtCcy" type="ActiveCurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency unit used to specify the limit amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LmtAmt" type="AmountRange2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Amount of money of the limit, expressed in an eligible currency.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="LmtVldAsOfDt" type="DateAndPeriod2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LimitValidAsOfDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Range of dates when the limit becomes valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="LimitType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LimitType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Nature of the risk management limit defined as a choice between a coded list or a proprietary limit.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="LimitType3Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type of the limit, in a coded form.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LimitType3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LimitType3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of risk management limit.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="MULT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Multilateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit is a maximum amount value applied to, or by, a participant to a set of counterparties. The multilateral limit is taken into account by the transaction administrator to contain the risk in the system. With the help of the multilateral limit, the direct participant restricts the use of liquidity when clearing payments with all other direct participants for which no bilateral limit is set.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BILI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Bilateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit is applied by one party to a specific counterparty, and corresponds to the maximum amount of traffic party setting the limit can send to that counterparty. The limit can be expressed as a debit or a credit limit. With the help of a bilateral limit, the direct participant restricts the use of liquidity when clearing payments with another direct participant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="MAND">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MandatoryBilateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Mandatory part of the bilateral limit applied by one party to a specific counterparty, and corresponds to the maximum amount of traffic party setting the limit can send to that counterparty. The limit can be expressed as a debit or a credit limit. With the help of a bilateral limit, the direct participant restricts the use of liquidity when clearing payments with another direct participant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DISC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DiscretionaryBilateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Discretionary part of the bilateral limit applied by one party to a specific counterparty, and corresponds to the maximum amount of traffic party setting the limit can send to that counterparty. The limit can be expressed as a debit or a credit limit. With the help of a bilateral limit, the direct participant restricts the use of liquidity when clearing payments with another direct participant.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NELI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NetBilateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit is applied by one party to a specific counterparty, and corresponds to the maximum net balance acceptable by the party that is setting the limit. The limit is calculated as an arithmetic sum in value of the bilateral flows exchanged between the two parties. The net bilateral limit can be expressed as a debit or a credit balance.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INBI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IndirectBilateral</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit is a maximum value set by a direct participant with respect to its indirect participant. The limit represents the maximum amount the indirect participant can use to settle its operations.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="GLBL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Global</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Maximum value set by either the transaction administrator or by a member for the participation of a member in the system. The global limit may be expressed as a credit or debit maximum value and is taken into account by the transaction administrator when processing transaction inside the system. With the help of the global limit, the direct participant may limit the use of liquidity when clearing specific type of payments.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DIDB">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DirectDebit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit not to be exceeded for direct debit operations.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPLC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SingleCustomerDirectDebit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Single direct debit payment limit not to be exceeded by any single direct debit transaction by a customer.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SPLF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SingleFinancialInstitutionDirectDebit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Single direct debit payment limit not to be exceeded by any single direct debit transaction initiated by a financial institution.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TDLC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalDailyCustomerDirectDebit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total daily payments limit for customer direct debits not to be exceeded by the total of all direct debit transactions initiated by customers.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="TDLF">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TotalDailyFinancialInstitutionDirectDebit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total daily payments limit for financial institutions direct debits not to be exceeded by the total of all direct debit transactions initiated by financial institutions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UCDT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">UnsecuredCredit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit is related to a cap amount granted by a national central bank or a settlement bank, but generally unsecured outside of the market infrastructure.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ACOL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AutoCollateralisation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit is related to a credit operation that is or can be triggered when a buyer does not have a sufficient amount of money to settle a securities transaction in order to improve its cash position for the next settlement cycle. The credit provided can be secured using securities already held by the buyer (?collateral stocks?) or the securities that are being purchased (?collateral flows?).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="EXGT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExternalGuarantee</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Limit is related to a cap amount granted by a national central bank or a settlement bank.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender,, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ReqTp" type="RequestType2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specific actions to be executed through the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PercentageRange1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRange1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between ranges of rates in which a percentage rate is considered valid or a specified percentage rate which has to be matched or unmatched to be valid.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Fr" type="PercentageRangeBoundary1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">From</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Lower boundary of a range of percentage rates.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="To" type="PercentageRangeBoundary1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">To</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Upper boundary of a range of percentage rates.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FrTo" type="FromToPercentageRange1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FromTo</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Range of valid percentage rates.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="EQ" type="PercentageRate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Equal</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Exact percentage rate must match to be considered valid.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PercentageRangeBoundary1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRangeBoundary1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Limit for a percentage rate range.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BdryRate" type="PercentageRate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BoundaryRate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Percentage rate of the range limit.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Incl" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Included</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether the boundary percentage rate is included in the range of percentage rates. </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PercentageRate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PercentageRate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Rate expressed as a percentage, ie, in hundredths, eg, 0.7 is 7/10 of a percent, and 7.0 is 7%.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="10"/>
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestType2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestType2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines the type of action to be performed in the request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="GenericIdentification1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Request type is in proprietary format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINX2Max34Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINX2Max34Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 34 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,34}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="34"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
