xsd/t2s.PartyListResponse.DRAFT3reda.017.001.01.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_reda.017
Usage Guideline: reda.017.001.01_T2S
Base Message: DRAFT3reda.017.001.01
Date of publication: 05 March 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_bOxqQYn2EeOlJKS1p63h1w/a33f4e1e-c42e-48df-a3ca-b8df4a7e0936
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-08-20T08:04:19+00:00
-->
<!---->
<xs:schema xmlns="urn:eurosystem:xsd:DRAFT3reda.017.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:eurosystem:xsd:DRAFT3reda.017.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="PtyRpt" type="PartyReportV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the choice between the listed and the proprietary error codes.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Prtry" type="Exact4AlphaNumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ErrorHandling3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ErrorHandling3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the error resulting from the processing of a request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Err" type="ErrorHandling1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Error</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in coded or proprietary form.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Desc" type="RestrictedFINXMax140Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Description</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specification of the error, in free format.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MarketSpecificAttribute1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MarketSpecificAttribute1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Defines additional attributes for party reference data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Nm" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the name of the market-specific attribute.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Val" type="RestrictedFINXMax350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Value</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the value of the market-specific attribute.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max256Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max256Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 256 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="256"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="MessageHeader3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MessageHeader3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Set of characteristics, such as the identification or the creation date and time, specific to the message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the sender, to unambiguously identify the message.
Usage: The sender has to make sure that MessageIdentification is unique for a pre-agreed period.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OrgnlBizQry" type="OriginalBusinessQuery1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="OriginalBusinessQuery1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">OriginalBusinessQuery1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification, as assigned by the original requestor, to unambiguously identify the business query message.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference, as assigned by the original initiating party, to unambiguously identify the original query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyName3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyName3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the party name entity through  the valid short and long names of the party within the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="VldFr" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date from which the party name is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="RestrictedFINXMax350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which a party is known and which is usually used to identify that party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ShrtNm" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ShortName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the short name of the organisation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyOrBusinessError1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyOrBusinessError1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Report between the party reference data or a business error.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="BizErr" type="ErrorHandling3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">BusinessError</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Business error resulting from a rejection.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="SysPty" type="SystemParty3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SystemParty</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifications of a party defined within a system.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyOrOperationalError1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyOrOperationalError1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Report between the party reference data or an operational error.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="PtyRpt" type="PartyReport1">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PartyReport</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Report information about party reference data.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="OprlErr" type="ErrorHandling3">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OperationalError</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Operational error resulting from a rejection.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyReport1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyReport1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Report information about party reference data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PtyId" type="SystemPartyIdentification3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the party within the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PtyOrErr" type="PartyOrBusinessError1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the returned party reference data or error information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyReportV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyReportV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope:
The PartyReport message is sent by the executing party to a a central securities depository, a national central bank, a central securities depository participant, a central counter party, a payment bank, a trading party or a stock exchange to provide detailed information on the requested party reference data of the party defined in the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgHdr" type="MessageHeader3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageHeader</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference elements, as assigned by the instructing party, to unambiguously identify the report message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptOrErr" type="PartyOrOperationalError1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportOrError</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information on report or error resulting from the originating query message.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PostalAddress10">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PostalAddress10</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address, as defined by postal services.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="StrtNm" type="RestrictedFINXMax70Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StreetName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a street or thoroughfare.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BldgNb" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BuildingNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number that identifies the position of a building on a street.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PstCd" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PostCode</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifier consisting of a group of letters and/or numbers that is added to a postal address to assist the sorting of mail.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="TwnNm" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TownName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of a built-up area, with defined boundaries, and a local government.
</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="CtrySubDvsn" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountrySubDivision</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies a subdivision of a country such as the state, region or county.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ctry" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Country</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Nation with its own government.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="VldFr" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Starting date from which the address is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax140Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax140Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 140 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,140}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="140"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,350}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax70Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax70Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 70 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,70}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="70"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemParty3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemParty3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the definition of a party within a system. &#13;
A party shall denote any legal or organisational entity required in the system. &#13;
This entity shall store the parties from the first three levels: the system operator, the central securities depositaries, the participants of the central securities depositaries, the national central banks and payment banks.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="OpngDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OpeningDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the opening date of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ClsgDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClosingDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the closing date of the party</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Tp" type="SystemPartyType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type classification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="TechAdr" type="TechnicalIdentification1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TechnicalAddress</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique technical address to unambiguously identify a party for receiving messages from the executing system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="MktSpcfcAttr" type="MarketSpecificAttribute1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketSpecificAttribute</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional attributes defined by a central security depositary for a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Id" type="SystemPartyIdentification1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Nm" type="PartyName3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Name</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name by which an organisation is known and which is usually used to identify that organisation.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Adr" type="PostalAddress10">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Address</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that locates and identifies a specific address.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Rstrctn" type="SystemRestriction1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Restriction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the specific processing characteristics for a party to ensure configurability of specific requirements, as prescribed by national legal and regulatory requirements and practices.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemPartyIdentification1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemPartyIdentification1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the party within the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="VldFr" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Starting date from which the identification is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Id" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify a system party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemPartyIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemPartyIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the party within the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RltdPtyId" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedPartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the party within the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RspnsblPtyId" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsiblePartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party responsible for the maintenance of the party reference data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SystemPartyType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemPartyType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of the party within a system.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CSDY">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CentralSecuritiesDepository</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Infrastructure that holds or controls the holding of physical or dematerialised financial instruments belonging to all, or a large portion of, the investors in a securities market. This effects the centralised transfer of ownership of such securities by entries on its books and records.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NCBK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NationalCentralBank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">As system participant, the national central bank is the principal monetary authority of a nation and performs several key functions, including issuing currency and regulating the supply of credit in the economy.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PMBK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PaymentBank</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">National central bank or a private bank used to settle the cash leg of securities settlements: it provides the cash account to support the settlement of the securities transactions of another financial institution in central bank money (CeBM).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSDP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CentralSecuritiesDepositoryParticipant</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Participant of a central securities depositary defined within the system, for which the account holder is the central securities depository.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ECSD">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExternalCentralSecuritiesDepository</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Infrastructure that holds or controls the holding of physical or dematerialised financial instruments belonging to all, or a large portion of, the investors in a securities market. This effects the centralised transfer of ownership of such securities by entries on its books and records.&#13;
The infrastructure is external to the system executing the instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemRestriction1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemRestriction1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides information on the system restriction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="VldFr" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date from which the restriction is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="VldTo" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ValidTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the date until which the restriction is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Tp" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the identification of a restriction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TechnicalIdentification1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">TechnicalIdentification1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Selection between a generic technical address or a BIC identifier when setting up or modifying the technical address for a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="TechAdr" type="Max256Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">TechnicalAddress</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Technical address of the party is defined in a free text format.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
