xsd/t2s.SecuritiesSettlementConditionModificationAdvice.sese.031.001.03.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_sese.031
Usage Guideline: sese.031.001.03_T2S
Base Message: sese.031.001.03
Date of publication: 17 February 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_go-CEIn2EeOlJKS1p63h1w/a14ac802-29d2-4b51-998f-87084ca5278f
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-08-01T12:34:23+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:sese.031.001.03" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:sese.031.001.03">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcknowledgedAcceptedStatus20Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AcknowledgedAcceptedStatus20Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeniedReason4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeniedReason4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The status of an instruction, advice or request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="DeniedReason6Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the request has a denied status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional reason information that cannot be provided in a structured field.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="DeniedReason4Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeniedReason4Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the denied reason.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="DCAN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeniedSinceAlreadyCancelled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation request was denied since the instruction has already been cancelled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="DSET">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeniedSinceAlreadySettled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Cancellation request was denied because the instruction was already settled.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other. See Narrative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DeniedReason6Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeniedReason6Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the denied reason.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="DeniedReason4Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the request was denied.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DeniedStatus9Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DeniedStatus9Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="DeniedReason4">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the DeniedStatus.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctiesSttlmCondModStsAdvc" type="SecuritiesSettlementConditionModificationStatusAdviceV03"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentNumber3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a short document number, a long document number or a proprietary document number.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="LngNb" type="ISO20022MessageIdentificationText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">LongNumber</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">MX Message identifier of the referenced document.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with an exact length of 4 digits</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
            <xs:enumeration value="0001">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reserved</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="0003">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">High</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="0004">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Normal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="HoldIndicator5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">HoldIndicator5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is on hold/blocked/frozen.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ind" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Indicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is on hold/blocked/frozen.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Rsn" type="RegistrationReason4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the registration staus.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISO20022MessageIdentificationText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">ISO 20022 Message identifier of an MX message.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Identification4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Identification4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identifier of a document, message or transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier of a document, message or transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="LinkageType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LinkageType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type of linkage requested.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="LINK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Link</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request is to link the referenced transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNLK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unlink</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Request is to unlink the referenced transactions.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="LinkageType2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">LinkageType2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the linkage type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="LinkageType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Linkage type expressed as an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Linkages23">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Linkages23</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a linked transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgPos" type="ProcessingPosition4Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingPosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">When the transaction is to be executed relative to a linked transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNb" type="DocumentNumber3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message type number/message identifier of the message referenced in the linkage sequence.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ref" type="References31Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the linked transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefOwnr" type="PartyIdentification51Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that generates the reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="NoReasonCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NoReasonCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies that there is no reason available.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No reason to report or no reason available to report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyIdentification51Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification51Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriorityNumeric2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PriorityNumeric2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the priority.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Nmrc" type="Exact4NumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Numeric</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the execution priority of the instruction with a number between 0001 and 9999.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProcessingPosition1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProcessingPosition1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates when an instruction is to be executed relative to a linked instruction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">After</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the instruction is to be executed after the linked instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WITH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">With</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the instruction is to be executed with the linked instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BEFR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Before</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates that the instruction is to be executed before the linked instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingPosition4Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProcessingPosition4Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the processing position.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ProcessingPosition1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Processing position expressed as an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingStatus24Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProcessingStatus24Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the processing status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus20Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AcknowledgedAccepted</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Request has been acknowledged by the account servicer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Rjctd" type="RejectionOrRepairStatus20Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Rejected</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Modification Request has been rejected for further processing.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Cmpltd" type="ProprietaryReason2">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Completed</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Modification request was completed.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Dnd" type="DeniedStatus9Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Denied</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Modification request will not be executed.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryReason2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the reason related to a status.</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="References13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">References13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides a set if identifications to reference to a securities settlement transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwnerTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account owner (or the instructing party managing the account).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicerTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a transaction assigned by a market infrastructure other than a central securities depository, for example, Target2-Securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessorTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the transaction assigned by the processor of the instruction other than the account owner the account servicer and the market infrastructure.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="References31Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">References31Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of reference.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="SctiesSttlmTxId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlementTransactionIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of a securities settlement transaction as known by the account owner (or instructing party acting on its behalf).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IntraPosMvmntId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IntraPositionMovementIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the intra-position movement transaction as known by the account owner (or instructing party acting on its behalf).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IntraBalMvmntId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IntraBalanceMovementIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the intra balance movement transaction as known by the account owner.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AcctSvcrTxId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AccountServicerTransactionIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account servicer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MktInfrstrctrTxId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureTransactionIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of a transaction assigned by a market infrastructure other than a central securities depository, for example, Target2-Securities.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PoolId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PoolIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Collective reference identifying a set of messages.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="OthrTxId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">OtherTransactionIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of a transaction that cannot be identified using a standard reference element present in the message.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Registration2Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Registration2Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether registration should occur upon receipt.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PTYH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyHold</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">You or your party set the  instruction in a hold/frozen/preadvice mode.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CSDH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CSDHold</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Central securities depository sets the  instruction in a hold/frozen/preadvice mode.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CDEL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ConditionalDelivery</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction is in a hold/frozen/preadvice mode as it fulfils predefined conditional delivery rules in the market infrastructure platform for conditional delivery.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CVAL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CSDValidation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction is in a hold/frozen/preadvice mode as it fulfils predefined conditions of a restriction processing type in the market infrastructure platform.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Registration8Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Registration8Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the registration information.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="Registration2Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Registration information expressed as an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RegistrationReason4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RegistrationReason4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason of registration.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="Registration8Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reaoson of the holding status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlInf" type="RestrictedFINXMax210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional reason information that cannot be provided in a structured field.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionAndRepairReason16Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionAndRepairReason16Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the rejection or repair reason.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="RejectionReason27Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/request has a repair or rejection status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairReason16">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionOrRepairReason16</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Reason for the rejection or repair status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="RejectionAndRepairReason16Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/request has a rejected or repair status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional reason information that cannot be provided in a structured field.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="RejectionOrRepairStatus20Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionOrRepairStatus20Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="RejectionOrRepairReason16">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason for the status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RejectionReason27Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RejectionReason27Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction/cancellation request has a rejected status.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="SAFE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccountRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unrecognised or invalid message sender's safekeeping account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NRGN">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NotFoundRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction could not be found.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other. See Narrative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="REFE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceRejection</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction has a reference identical to another previously received instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVM">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidModificationRequest</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid or unrecognized modification request.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INVL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">InvalidLink</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Invalid or unrecognized link.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="RequestDetails9">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RequestDetails9</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Details of the settlement condition modification request</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Ref" type="References13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">References of the transaction for which the securities settlement condition modification is requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Lkg" type="LinkageType2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Linkage</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the type of linkage requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="PriorityNumeric2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is to be executed with a high priority.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrtlSttlmInd" type="SettlementTransactionCondition5Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartialSettlementIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether partial settlement is allowed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="HldInd" type="HoldIndicator5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">HoldIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is on hold/blocked/frozen.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Lnkgs" type="Linkages23">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Linkages</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information regarding the linkage requested.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax210Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax210Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 210 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,210}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount17">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount17</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer.?</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesSettlementConditionModificationStatusAdviceV03">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlementConditionModificationStatusAdviceV03</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Scope&#13;
An account servicer sends a SecuritiesSettlementConditionsModificationStatusAdvice to an account owner to advise the status of a modification request previously instructed by the account owner.&#13;
The account servicer/owner relationship may be:&#13;
- a central securities depository or another settlement market infrastructure acting on behalf of their participants&#13;
- an agent (sub-custodian) acting on behalf of their global custodian customer, or&#13;
- a custodian acting on behalf of an investment management institution or a broker/dealer.&#13;
Usage&#13;
A SecuritiesSettlementConditionsModificationRequest may contain requests on multiple transactions. However, one SecuritiesSettlementConditionsModificationStatusAdvice must be sent per transaction modified unless the SecuritiesSettlementConditionsModificationRequest is rejected as a whole.&#13;
The message may also be used to:&#13;
- re-send a message previously sent,&#13;
- provide a third party with a copy of a message for information,&#13;
- re-send to a third party a copy of a message for information.&#13;
using the relevant elements in the Business Application Header.
ISO 15022 - 20022 Coexistence
This ISO 20022 message is reversed engineered from ISO 15022. Both standards will coexist for a certain number of years. Until this coexistence period ends, the usage of certain data types is restricted to ensure interoperability between ISO 15022 and 20022 users. Compliance to these rules is mandatory in a coexistence environment.  The coexistence restrictions are described in a Textual Rule linked to the Message Items they concern. These coexistence textual rules are clearly identified as follows:  ?CoexistenceXxxxRule?.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ReqRef" type="Identification4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the SecuritiesSettlementConditionsModificationRequest.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="PartyIdentification51Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that legally owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount17">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ReqDtls" type="RequestDetails9">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RequestDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details of the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrcgSts" type="ProcessingStatus24Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the processing status of the request.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementTransactionCondition5Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementTransactionCondition5Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the conditions under which the order/trade is to be settled.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="PART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartialAllowed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Partial settlement is allowed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="NPAR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartialNotAllowed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Partial settlement is not allowed.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PARC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartialSettlementCashThresholdAllowed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Partial settlement is  allowed but must satisfy a cash value minimum (value defined in static data).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PARQ">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartialSettlementQuantityThresholdAllowed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Partial settlement is allowed but must satisfy a minimum quantity of securities (quantity defined in static data).</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
