xsd/T2S_UDFS_2.0_reda.006.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_reda.006
Usage Guideline: reda.006.001.01_T2S
Base Message: DRAFT1reda.006.001.01
Date of publication: 07 March 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_4bLvgIn1EeOlJKS1p63h1w/239efbd9-ea7d-4556-8268-208de0e10d7c
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-04-01T12:50:10+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT1reda.006.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT1reda.006.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="CFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Classification type of the financial instrument, as per the ISO 10962 Classification of Financial Instrument (CFI) codification, eg, common share with voting rights, fully paid, or registered.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{1,6}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ClassificationType1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ClassificationType1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the classification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ClssfctnFinInstrm" type="CFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClassificationFinancialInstrument</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Classification type of the financial instrument, as per the ISO Classification of Financial Instrument (CFI) codification, for example, common share with voting rights, fully paid, or registered.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CommonFinancialInstrumentAttributes1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CommonFinancialInstrumentAttributes1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Tangible items of value to a business.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ISOSctyLngNm" type="RestrictedFINXMax350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISOSecurityLongName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ISOSctyShrtNm" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISOSecurityShortName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short name of the security expressed as ISO 18773/18774.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NmVldFr" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NameValidFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the date since when the name of the security is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="DnmtnCcy" type="CurrencyCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DenominationCurrency</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Currency in which a security is issued or redenominated.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="XpryDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ExpiryDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date on which a privilege expires.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ClssfctnTp" type="ClassificationType1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ClassificationType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information allowing the classification of a financial instrument, for example, with its ISO CFI (Classification of Financial Instrument) or product type.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Issnc" type="Issuance1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuance</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Details regarding the issuance of an asset.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="Rstrctn" type="SecurityRestriction1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Restriction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Regulatory restriction(s) linked to the security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmInf" type="SettlementInformation4">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Settlement of the securities in a securities transaction, that is, the instruction to deliver or receive securities, involving the payment of an amount of money or not.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CountryCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CountryCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code to identify a country, a dependency, or another area of particular geopolitical interest, on the basis of country names obtained from the United Nations (ISO 3166, Alpha-2 code).</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="CurrencyCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CurrencyCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a currency, by a maintenance agency, under an international identification scheme as described in the latest edition of the international standard ISO 4217 "Codes for the representation of currencies and funds".  Valid currency codes are registered with the ISO 4217 Maintenance Agency, and consist of three contiguous letters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{3,3}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DateTimePeriodDetails1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateTimePeriodDetails1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Time span defined by a start date and time, and an end date and time.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FrDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FromDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range starts.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ToDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ToDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the range ends.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="SctyCreReq" type="SecurityCreationRequestV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification11">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification11</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification and creation date of a document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the document (message) assigned by the sender of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="RestrictedFINDecimalNumber">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification40">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification40</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="T2S" name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="RT" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Issuance1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Issuance1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Preparation/bringing to market of a security (also known as primary market or Initial Public Offering (IPO) issuance).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CtryOfIsse" type="CountryCode">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CountryOfIssue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Country where a security is issued by the issuer or its agent.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IsseDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IssueDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date/time at which the security was made available.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ISINVldFr" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISINValidFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the date from which the instrument code is valid. This date can be before the actual issue date of an instrument for 'when-issued' securities, but may not be a date in the future for a new security.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINDecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, for example, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ‘ + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,350}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ‘ + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecurityAttributes1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityAttributes1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Tangible items of value to a business.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FinInstrmId" type="SecurityIdentification14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FinInstrmAttrbts" type="CommonFinancialInstrumentAttributes1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentAttributes</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments representing a sum of rights of the investor vis-a-vis the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityCreationRequestV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityCreationRequestV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">SCOPE&#13;
An instructing party sends a SecurityCreationRequest message to an executing/servicing party to request the creation of financial instrument static details in their system.&#13;
&#13;
The instructing party - executing/servicing party relationship may be:&#13;
- Central Securities Depositories (CSD) who would like to publish security static data, or &#13;
- a Corporate, or&#13;
- a Bank, or&#13;
- a Market Infrastructure, or &#13;
- a Market Data Provider.&#13;
&#13;
USAGE&#13;
The request is sent when the instructing party identified a gap in the securities coverage of the executing/servicing party. The instructing party needs this security to be set-up at the executing /servicing party to perform its activities.&#13;
&#13;
Initiator:  instructing party</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="DocumentIdentification11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Information that unambiguously identifies a security creation request message as known by the instructing party.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Scty" type="SecurityAttributes1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Security</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Represents the financial instruments details.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SplmtryData" type="SupplementaryData1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SupplementaryData</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Additional information that cannot be captured in the structured elements and/or any other specific block.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification14</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityRestriction1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityRestriction1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Restrictions applicable to the security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="FctvPrd" type="DateTimePeriodDetails1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EffectivePeriod</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Period during which the restriction applies.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RstrctnTp" type="SecurityRestrictionType1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RestrictionType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Type of the restriction, for example, selling restriction, buying restriction, placing restriction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityRestrictionType1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityRestrictionType1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between the type of restriction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="PrtryRstrctn" type="GenericIdentification40">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">ProprietaryRestriction</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Type of the restriction, for example, selling restriction, buying restriction, placing restriction.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementInformation4">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementInformation4</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Settlement of the securities in a securities transaction, that is, the instruction to deliver or receive securities, involving the payment of an amount of money or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SctiesQtyTp" type="SettlementUnitType2Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesQuantityType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MinDnmtn" type="FinancialInstrumentQuantity1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MinimumDenomination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the minimum quantity (unit or nominal) of a security.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MinMltplQty" type="FinancialInstrumentQuantity1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MinimumMultipleQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Minimum multiple quantity (unit or nominal) of securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="10" minOccurs="0" name="DevtgSttlmUnit" type="FinancialInstrumentQuantity1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">DeviatingSettlementUnit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Minimum quantity of securities that can be purchased without incurring a larger fee. For example, if the round lot size is 100 and the trade is for 125  shares, then 100 will be processed without a fee and the remaining 25 will incur a service fee for being an odd lot size.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SettlementUnitType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementUnitType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Type of settlement foreseen for the security.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FAMT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Represent the face amount, for example the principal of a debt instrument.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="UNIT">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Represent the unit as a number, for example a number of shares.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SettlementUnitType2Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementUnitType2Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for settlement unit type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SettlementUnitType1Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Settlement unit type expressed as an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryData1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryData1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Additional information that can not be captured in the structured fields and/or any other specific block.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element fixed="/Document/SctyCreReq/Scty/FinInstrmAttrbts" name="PlcAndNm" type="Max350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PlaceAndName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous reference to the location where the supplementary data must be inserted in the message instance.&#13;
In the case of XML, this is expressed by a valid XPath.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Envlp" type="SupplementaryDataEnvelope1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Envelope</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element wrapping the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SupplementaryDataEnvelope1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SupplementaryDataEnvelope1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Technical component that contains the validated supplementary data information. This technical envelope allows to segregate the supplementary data information from any other information. &#13;
</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:any namespace="urn:t2s:MktSpcfcAttr.xsd" processContents="strict">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Contents</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Technical element that specifies the supplementary data.</xs:documentation>
                </xs:annotation>
            </xs:any>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
