xsd/T2S_UDFS_2.0_reda.041.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_reda.041
Usage Guideline: reda.041.001.01_T2S
Base Message: DRAFT2reda.041.001.01
Date of publication: 21 February 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_TqqegIzpEeOCYcf-u7C97Q/f3145f2c-045b-4ead-8fa6-1202bc935ef4
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-03-15T09:50:07+00:00
-->
<!---->
<xs:schema xmlns="urn:eurosystem:xsd:DRAFT2reda.041.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:eurosystem:xsd:DRAFT2reda.041.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="PtyActvtyAdvc" type="PartyActivityAdviceV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentIdentification11">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentIdentification11</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification and creation date of a document.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identifier of the document (message) assigned by the sender of the document.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PartyActivityAdviceV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyActivityAdviceV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The PartyActivityReport message is sent by the executing party to an instructing party containing information about changes on party reference data.

Scope and usage:
It aims at informing about the changes occurred during a business date for party reference data.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="MsgId" type="DocumentIdentification11">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Point to point reference elements, as assigned by the instructing party, to unambiguously identify the activity advice message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PtyActvty" type="PartyStatement1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyActivity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Activity report of changes occurred for a party defined in the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyReferenceDataChange1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyReferenceDataChange1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Describes the comparison between the currently established baseline elements and the proposed ones.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PtyId" type="SystemPartyIdentification3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the party for which the changes are listed in the advice.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FldNm" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FieldName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Name of the element, as specified in the short tag name for the field in the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OdFldVal" type="RestrictedFINXMax350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OldFieldValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the related field before the change was applied.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="NewFldVal" type="RestrictedFINXMax350Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NewFieldValue</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Value of the related field after the change was applied.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OprTmStmp" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">OperationTimeStamp</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the timestamp of the operation.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyStatement1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyStatement1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides system date for all of the changes occurred for an entity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SysDt" type="ISODate">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SystemDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date for which the statement is valid.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Chng" type="PartyReferenceDataChange1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Change</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides information on the actual change occurred to a party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax350Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax350Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 350 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,350}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="350"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SystemPartyIdentification3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemPartyIdentification3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the party within the system.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RltdPtyId" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedPartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification to unambiguously identify the party within the system.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RspnsblPtyId" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsiblePartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party responsible for the maintenance of the party reference data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
