xsd/T2S_UDFS_2.0_semt.029.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
Legal Notices

SWIFT SCRL@2014. All rights reserved.

This schema is a component of MyStandards, the SWIFT collaborative Web application used to manage
standards definitions and industry usage.

This is a licensed product, which may only be used and distributed in accordance with MyStandards License
Terms as specified in MyStandards Service Description and the related Terms of Use.

Unless otherwise agreed in writing with SWIFT SCRL, the user has no right to:
 - authorise external end users to use this component for other purposes than their internal use.
 - remove, alter, cover, obfuscate or cancel from view any copyright or other proprietary rights notices appearing in this physical medium.
 - re-sell or authorise another party e.g. software and service providers, to re-sell this component.

This component is provided 'AS IS'. SWIFT does not give and excludes any express or implied warranties
with respect to this component such as but not limited to any guarantee as to its quality, supply or availability.

Any and all rights, including title, ownership rights, copyright, trademark, patents, and any other intellectual 
property rights of whatever nature in this component will remain the exclusive property of SWIFT or its 
licensors.

Trademarks
SWIFT is the trade name of S.W.I.F.T. SCRL.
The following are registered trademarks of SWIFT: the SWIFT logo, SWIFT, SWIFTNet, SWIFTReady, Accord, Sibos, 3SKey, Innotribe, the Standards Forum logo, MyStandards, and SWIFT Institute.
Other product, service, or company names in this publication are trade names, trademarks, or registered trademarks of their respective owners.
- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -

Group: T2S
Collection: T2S_UDFS_2.0_semt.029
Usage Guideline: semt.029.001.01_T2S
Base Message: DRAFT3semt.029.001.01
Date of publication: 26 February 2014
URL: https://www2.swift.com/mystandards/standardsPractices/mpDescription.xhtml?marketpractice=mp/mx/_7geLgJoGEeOfZIFeZ_mong/e3605e09-37d8-499b-954b-1a47c42e93b6
Generated by the MyStandards web platform [http://www.swift.com/mystandards] on 2014-03-19T02:03:25+00:00
-->
<!---->
<xs:schema xmlns="urn:iso:std:iso:20022:tech:xsd:DRAFT3semt.029.001.01" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="urn:iso:std:iso:20022:tech:xsd:DRAFT3semt.029.001.01">
    <xs:element name="Document" type="Document"/>
    <xs:complexType name="AcknowledgedAcceptedStatus3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AcknowledgedAcceptedStatus3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="AnyBICIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">AnyBICIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="BICFIIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">BICFIIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial institution by the ISO 9362 Registration Authority as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z]{6,6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3,3}){0,1}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="CancellationReason12Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationReason12Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the cancellation reason.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="CancelledStatusReason13Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the related instruction is cancelled, or the related cancellation request is executed.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationReason5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationReason5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The status of an instruction, advice or request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="CancellationReason12Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction is cancelled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional reason information that cannot be provided in a structured field.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CancellationStatus7Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancellationStatus7Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="CancellationReason5">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the CancellationStatus.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="CancelledStatusReason13Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">CancelledStatusReason13Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the underlying reason for the cancellation of the associated transaction.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="CANI">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledByYourself</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is cancelled by yourself.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CANS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledBySystem</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Transaction is cancelled by the system.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other. See Narrative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="CTHP">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CancelledByThirdParty</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction is cancelled by a Third party.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="DateAndDateTimeChoice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DateAndDateTimeChoice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a date or a date and time format.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Dt" type="ISODate">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Date</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specified date.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Document">
        <xs:sequence>
            <xs:element name="IntraPosMvmntQryRspn" type="IntraPositionMovementQueryResponseV01"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="DocumentNumber1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">DocumentNumber1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between a short document number, a long document number or a proprietary document number.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="LngNb" type="ISO20022MessageIdentificationText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">LongNumber</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">MX Message identifier of the referenced document.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Exact4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{4}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Exact4NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Exact4NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with an exact length of 4 digits</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{4}"/>
            <xs:enumeration value="0001">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reserved</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="0003">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">High</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="0004">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Normal</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="0002">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Top</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="FinancialInstrumentQuantity1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentQuantity1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice between formats for the quantity of security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Unit" type="RestrictedFINDecimalNumber">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Unit</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as a number, eg, a number of shares.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="FaceAmt" type="RestrictedFINImpliedCurrencyAndAmount">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">FaceAmount</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Quantity expressed as an amount representing the face amount, ie, the principal, of a debt instrument.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification20_T2S_01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification20_T2S_01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to an identification, for example, party identification or account identification.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="Exact4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="T2S" name="Issr" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Issuer</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Entity that assigns the identification.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element fixed="RT" name="SchmeNm" type="Max4AlphaNumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SchemeName</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Short textual description of the scheme.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="GenericIdentification37_T2S_01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">GenericIdentification37_T2S_01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification expressed as a proprietary type and narrative description.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Proprietary information, often a code, issued by the data source scheme issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ISINIdentifier">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISINIdentifier</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[A-Z0-9]{12,12}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISO20022MessageIdentificationText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISO20022MessageIdentificationText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">ISO 20022 Message identifier of an MX message.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-z]{4}\.[0-9]{3}\.[0-9]{3}\.[0-9]{2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODate">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODate</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time in a calendar year expressed in the YYYY-MM-DD format. This representation is defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ISODateTime">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ISODateTime</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">A particular point in the progression of time defined by a mandatory date and a mandatory time component, expressed in either UTC time format (YYYY-MM-DDThh:mm:ss.sssZ), local time with UTC offset format (YYYY-MM-DDThh:mm:ss.sss+/-hh:mm), or local time format (YYYY-MM-DDThh:mm:ss.sss). These representations are defined in "XML Schema Part 2: Datatypes Second Edition - W3C Recommendation 28 October 2004" which is aligned with ISO 8601.
Note on the time format:
1) beginning / end of calendar day
00:00:00 = the beginning of a calendar day
24:00:00 = the end of a calendar day
2) fractions of second in time format
Decimal fractions of seconds may be included. In this case, the involved parties shall agree on the maximum number of digits that are allowed.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime">
            <xs:pattern value="[0-9]{4,4}\-[0-9]{2,2}\-[0-9]{2,2}[T][0-9]{2,2}:[0-9]{2,2}:[0-9]{2,2}[\S]*"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="IntraPositionMovement1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionMovement1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies the details of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="SystemPartyIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StsAndRsn" type="IntraPositionStatusAndReason1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusAndReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status and status reason of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctOwnrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwnerTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account owner (or the instructing party managing the account).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctSvcrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountServicerTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account servicer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MktInfrstrctrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of a transaction assigned by a market infrastructure other than a central securities depository, for example, Target2-Securities.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcrTxId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessorTransactionIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the transaction as assigned by the processor.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PoolId" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PoolIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Collective reference identifying a set of messages.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MvmntDtls" type="IntraPositionMovement2">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MovementDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies additional details of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionMovement2">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionMovement2</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identifies additional details of the transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BalFr" type="SecuritiesSubBalanceTypeAndQuantityBreakdown1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceFrom</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance from which the securities are moving.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BalTo" type="SecuritiesSubBalanceTypeAndQuantityBreakdown1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">BalanceTo</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance to which the securities are moving.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FinInstrmId" type="SecurityIdentification14">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">FinancialInstrumentIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments representing a sum of rights of the investor vis-a-vis the issuer.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SttlmQty" type="FinancialInstrumentQuantity1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Total quantity of securities to be settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SttldQty" type="FinancialInstrumentQuantity1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettledQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instrument effectively settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="PrevslySttldQty" type="FinancialInstrumentQuantity1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PreviouslySettledQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instrument previously settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RmngToBeSttldQty" type="FinancialInstrumentQuantity1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RemainingToBeSettledQuantity</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Quantity of financial instrument remaining to be settled.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IntnddSttlmDt" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IntendedSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the securities are intended to be moved.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="FctvSttlmDt" type="DateAndDateTimeChoice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">EffectiveSettlementDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the securities are moved.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StsDt" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusDate</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Date and time at which the status was assigned.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Lnkgs" type="Linkages26">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Linkages</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Link to another transaction that must be processed after, before or at the same time.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SctiesSubBalId" type="GenericIdentification37_T2S_01">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesSubBalanceIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Number identifying a lot constituting the sub-balance.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Prty" type="PriorityNumeric1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Priority</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies whether the transaction is to be executed with a high priority.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgOrgtr" type="SystemPartyIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageOriginator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that originated the message, if other than the sender.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreDtTm" type="ISODateTime">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">CreationDateTime</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the creation date/time of the intra-position movement.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionMovementQueryResponseV01">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionMovementQueryResponseV01</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The IntraPositionMovementQueryResponse message  is sent from a settlement infrastructure to an account owner/requestor to provide all intra-position movement instructions satisfying the selection criteria, as defined within the query, returning current attributes and latest status.&#13;
The message may also be used to: &#13;
- re-send a message sent by the account owner to the account servicer (the sub-function of the message is "Duplicate") &#13;
- provide a third party with a copy of a message being sent by the account owner for information (the sub-function of the message is "Copy") &#13;
- re-send to a third party a copy of a message being sent by the account owner for information (the sub-function of the message is "Copy Duplicate").&#13;
</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Pgntn" type="Pagination">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Pagination</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Pagination of the message.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RptGnlDtls" type="IntraPositionReport3">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReportGeneralDetails</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">General characteristics related to the report information.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Mvmnts" type="IntraPositionMovements1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Movements</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the intra-position movements.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionMovements1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionMovements1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Provides the transactions in the response.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="AcctOwnr" type="SystemPartyIdentification5">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party that owns the account.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="SfkpgAcct" type="SecuritiesAccount13">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SafekeepingAccount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="StsAndRsn" type="IntraPositionStatusAndReason1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">StatusAndReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Status and status reason of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" name="Mvmnt" type="IntraPositionMovement1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Movement</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identifies the individual transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionReport3">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionReport3</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Characteristics of the report.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="QryRef" type="RestrictedFINXMax16Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryReference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the query message sent to request this statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="QryTp" type="MovementResponseType1Code">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">QueryType</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Defines the type of query.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ActvtyInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ActivityIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates whether there is activity or information update reported in the statement.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntraPositionStatusAndReason1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">IntraPositionStatusAndReason1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of the movement status types.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="PrcgSts" type="ProcessingStatus35Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides details on the processing status of the transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SttlmSts" type="SettlementStatus9Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SettlementStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides the settlement status of a transaction</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="Sttld" type="ProprietaryReason1">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Settled</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the state or the condition.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Linkages26">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Linkages26</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Information related to a linked transaction.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="PrcgPos" type="ProcessingPosition1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ProcessingPosition</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">When the transaction is to be executed relative to a linked transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="MsgNb" type="DocumentNumber1Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MessageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Message type number/message identifier of the message referenced in the linkage sequence.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Ref" type="References34Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Reference</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Reference to the linked transaction.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RefOwnr" type="PartyIdentification72Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ReferenceOwner</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Party responsible for generating the reference.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="Max4AlphaNumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max4AlphaNumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies an alphanumeric string with a maximum length of 4 characters.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[a-zA-Z0-9]{1,4}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="Max5NumericText">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Max5NumericText</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a numeric string with a maximum length of 5 digits.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9]{1,5}"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="MovementResponseType1Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">MovementResponseType1Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the type of movement response to be returned.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="FULL">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Full</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response will include full details on the movements reported.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="STTS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Status</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Response will include limited details including the status on the movements reported.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="NoReasonCode">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">NoReasonCode</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies that there is no reason available.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="NORE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">NoReason</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">No reason to report or no reason available to report.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="Pagination">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">Pagination</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number used to sequence pages when it is not possible for data to be conveyed in a single message and the data has to be split across several pages (messages).</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PgNb" type="Max5NumericText">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PageNumber</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Page number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="LastPgInd" type="YesNoIndicator">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LastPageIndicator</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Indicates the last page.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification44Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification44Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify an organisation.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification46">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification46</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of an entity involved in an activity.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="PartyIdentification44Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Identification of the party.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PartyIdentification72Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PartyIdentification72Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of identification of a party. The party can be identified by giving a BIC or a proprietary code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="AnyBIC" type="AnyBICIdentifier">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AnyBIC</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Code allocated to a financial or non-financial institution by the ISO 9362 Registration Authority, as described in ISO 9362 "Banking - Banking telecommunication messages - Business identifier code (BIC)".</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="PendingReason10Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason10Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the reason the transaction/instruction is pending settlement. Settlement on the instructed settlement date is still possible.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="BLOC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AccountBlocked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Your account is blocked, no instruction can settle over the account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="PART">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">TradeSettlesInPartials</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Trade will settle in partials.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LINK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">PendingLinkedInstruction</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Your instruction is pending settlement because the instruction linked to it is pending.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LACK">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">LackOfSecurities</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Insufficient financial instruments in your account.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="SBLO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">SecuritiesBlocked</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Financial instruments are blocked due to a corporate action event, realignment, etc.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="OTHR">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Other</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Other. See Narrative.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="LATE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">MarketDeadlineMissed</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Instruction was received after market deadline.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INBC">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">IncompleteNumberCount</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Not all the instructions part of a pool have been received.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PendingReason16Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason16Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the pending reason.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="PendingReason10Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction has a pending status.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingReason8">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingReason8</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">The status of an instruction, advice or request.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Cd" type="PendingReason16Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the reason why the instruction has a pending status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="AddtlRsnInf" type="RestrictedFINXMax210Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AdditionalReasonInformation</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Provides additional reason information that cannot be provided in a structured field.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PendingStatus12Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PendingStatus12Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies whether the status is provided with a reason or not.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="NoSpcfdRsn" type="NoReasonCode">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">NoSpecifiedReason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Indicates that there is no reason available or to report.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="Rsn" type="PendingReason8">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Reason</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the reason of the PendingStatus.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PriorityNumeric1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">PriorityNumeric1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the priority.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Nmrc" type="Exact4NumericText">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Numeric</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Specifies the execution priority of the instruction with a number between 0001 and 9999.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProcessingPosition1Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProcessingPosition1Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the processing position.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="ProcessingPosition3Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Processing position expressed as an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="ProcessingPosition3Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProcessingPosition3Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the processing position.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AFTE">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">After</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the transaction/instruction is to be executed after the linked transaction/instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="WITH">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">With</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the transaction/instruction is to be executed with the linked transaction/instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="BEFO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Before</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the transaction/instruction is to be executed before the linked transaction/instruction.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="INFO">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Information</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies that the transactions/instructions are linked for information purposes only.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ProcessingStatus35Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProcessingStatus35Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the processing status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Canc" type="CancellationStatus7Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Cancelled</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Instruction has been cancelled. The status on the processing of a cancellation request must be provided using a cancellation request report message.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AckdAccptd" type="AcknowledgedAcceptedStatus3Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AcknowledgedAccepted</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Instruction has been acknowledged by the account servicer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ProprietaryReason1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">ProprietaryReason1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Proprietary identification of the reason related to a status.</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="References34Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">References34Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of references.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="SctiesSttlmTxId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">SecuritiesSettlementTransactionIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of a securities settlement transaction as known by the account owner (or instructing party acting on its behalf).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IntraPosMvmntId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IntraPositionMovementIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the intra-position movement transaction as known by the account owner (or instructing party acting on its behalf).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="IntraBalMvmntId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">IntraBalanceMovementIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the intra-balance movement transaction as known by the account owner (or instructing party acting on its behalf).</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="AcctSvcrTxId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">AccountServicerTransactionIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification of the transaction as known by the account servicer.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="MktInfrstrctrTxId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">MarketInfrastructureTransactionIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Identification of a transaction assigned by a market infrastructure other than a central securities depository, for example, Target2-Securities.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="PoolId" type="RestrictedFINXMax16Text">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">PoolIdentification</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Collective reference identifying a set of messages.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="RestrictedFINDecimalNumber">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINDecimalNumber</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of objects represented as a decimal number, for example, 0.75 or 45.6.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="14"/>
            <xs:totalDigits value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINImpliedCurrencyAndAmount">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINImpliedCurrencyAndAmount</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Number of monetary units specified in a currency where the unit of currency is implied by the context and compliant with ISO 4217. The decimal separator is a dot.
Note: a zero amount is considered a positive amount.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:decimal">
            <xs:fractionDigits value="5"/>
            <xs:totalDigits value="14"/>
            <xs:minInclusive value="0"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax16Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax16Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 16 characters. It has a pattern that disables the use of characters that is not part of the character set X, that is, that is not a-z A-Z / - ? : ( ) . , ? + , and disable the use of slash "/" at the beginning and end of line and double slash "//" within the line.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="([0-9a-zA-Z\-\?:\(\)\.,'\+ ]([0-9a-zA-Z\-\?:\(\)\.,'\+ ]*(/[0-9a-zA-Z\-\?:\(\)\.,'\+ ])?)*)"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="16"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax210Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax210Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 210 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.\n\r,'\+ ]{1,210}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="210"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="RestrictedFINXMax35Text">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">RestrictedFINXMax35Text</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies a character string with a maximum length of 35 characters limited to character set X, that is, a-z A-Z / - ? : ( ) . , ? + .</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[0-9a-zA-Z/\-\?:\(\)\.,'\+ ]{1,35}"/>
            <xs:minLength value="1"/>
            <xs:maxLength value="35"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesAccount13">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesAccount13</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Account to or from which a securities entry is made.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Id" type="RestrictedFINXMax35Text">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Identification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unambiguous identification for the account between the account owner and the account servicer.?</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="SecuritiesBalanceType11Code">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesBalanceType11Code</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Specifies the nature of the securities or investment fund balance.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="AWAS">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">AvailableWithNoAdditionalStatus</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Balance of financial instruments that are freely available with no specific additional status.</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="SecuritiesBalanceType3Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesBalanceType3Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the balance type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Cd" type="SecuritiesBalanceType11Code">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Code</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Sub-balance expressed as an ISO 20022 code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Prtry" type="GenericIdentification20_T2S_01">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Proprietary</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Sub-balance expressed as a proprietary code.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecuritiesSubBalanceTypeAndQuantityBreakdown1">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecuritiesSubBalanceTypeAndQuantityBreakdown1</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Quantity breakdown information for a specific securities balance.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Tp" type="SecuritiesBalanceType3Choice">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">Type</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Specifies the securities sub balance type indicator (example restriction type for a market infrastructure).</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SecurityIdentification14">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SecurityIdentification14</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Identification of a security.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="ISIN" type="ISINIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ISIN</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">International Securities Identification Number (ISIN).  A numbering system designed by the United Nation's International Organisation for Standardisation (ISO). The ISIN is composed of a 2-character prefix representing the country of issue, followed by the national security number (if one exists), and a check digit. Each country has a national numbering agency that assigns ISIN numbers for securities in that country.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettlementStatus9Choice">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SettlementStatus9Choice</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Choice of format for the settlement status.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:choice>
                <xs:element name="Pdg" type="PendingStatus12Choice">
                    <xs:annotation>
                        <xs:documentation source="Name" xml:lang="EN">Pending</xs:documentation>
                        <xs:documentation source="Definition" xml:lang="EN">Instruction is pending. Settlement at the instructed settlement date is still possible.</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:choice>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SystemPartyIdentification5">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">SystemPartyIdentification5</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Unique and unambiguous way to identify a system party.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="RltdPtyId" type="PartyIdentification46">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">RelatedPartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party referenced by a request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="RspnsblPtyId" type="BICFIIdentifier">
                <xs:annotation>
                    <xs:documentation source="Name" xml:lang="EN">ResponsiblePartyIdentification</xs:documentation>
                    <xs:documentation source="Definition" xml:lang="EN">Unique identification of the party responsible for the maintenance of the party reference data.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="YesNoIndicator">
        <xs:annotation>
            <xs:documentation source="Name" xml:lang="EN">YesNoIndicator</xs:documentation>
            <xs:documentation source="Definition" xml:lang="EN">Indicates a "Yes" or "No" type of answer for an element.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:boolean"/>
    </xs:simpleType>
</xs:schema>
